html,
body {
  background-color: #e6e6e6;
  color: #333333;
  height: 100%;
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Microsoft YaHei UI";
}
a {
  outline: none;
}
a:focus {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  resize: none;
}
.btn:focus {
  outline: #d1dce8;
}
.text-brand-primary {
  color: #1e90c2;
}
.text-limegreen {
  color: limegreen;
}
.text-green {
  color: green;
}
.text-deepskyblue {
  color: deepskyblue;
}
.text-dodgerblue {
  color: dodgerblue;
}
.text-palevioletred {
  color: palevioletred;
}
.text-darkred {
  color: darkred;
}
.text-darkorange {
  color: darkorange;
}
.text-darkgray {
  color: darkgray;
}
.bg-brand-primary {
  background-color: #1e90c2;
}
.text-brand-warning {
  color: #1b80ac;
}
.bg-brand-warning {
  background-color: #1b80ac;
}
.text-brand-black {
  color: #333333;
}
.bg-brand-black {
  background-color: #1e90c2;
}
.bg-brand-more-black {
  background-color: #1e90c2;
}
.text-brand-gray {
  color: #d1dce8;
}
.bg-brand-gray {
  background-color: #d1dce8;
}
.text-white {
  color: white;
}
.bg-white {
  background-color: white;
}
.text-gray-white {
  color: #f5f6f8;
}
.bg-gray-white {
  background-color: #f5f6f8;
}
.border-line {
  border: 1px solid #e6e6e6;
}
.bt {
  border-top: 1px solid #e6e6e6;
}
.bb {
  border-bottom: 1px solid #e6e6e6;
}
.bl {
  border-left: 1px solid #e6e6e6;
}
.br {
  border-right: 1px solid #e6e6e6;
}
.bn {
  border: none !important;
}
.select-all {
  margin: 0 !important;
}
.func-list .angle-radius {
  display: none;
}
.func-list .btn:hover .angle-radius {
  display: inline-block;
}
.func-list .btn {
  margin-bottom: 10px;
}
.angle-radius {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #1b80ac;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.angle-radius:hover {
  background-color: red;
}
.input-group-xs label.input-group-addon {
  background-color: #fff;
}
.has-error select {
  border: 1px solid #ff0000;
}
.has-error.error-msg {
  display: none;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon span {
  display: inline-block;
  min-width: 70px;
  text-align: right;
}
.input-group-addon span.control-feedback {
  min-width: inherit;
}
.modal-header,
.modal-footer,
.modal-body {
  padding: 5px 15px;
}
/*
.modal-dialog {
  margin-top: 10%;
}
*/
.modal-header {
  background-color: #f5f6f8;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-bottom: 5px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 10px;
}
.modal-dialog-lg {
  width: 80%;
}
.form-group {
  margin-bottom: 8px;
}
.logo {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #1e90c2;
  vertical-align: middle;
}
.logo img {
  vertical-align: middle;
  display: inline-block;
}
.logo #logo {
  display: inline-block;
}
.logo #aoyu {
  display: none;
}
/*.tooltip-inner {
  background: @brand-warning !important; //修改背景色

}

.tooltip-arrow {

  border-top-color: @brand-warning !important;
}*/
.shrinkage-app #logo {
  display: none;
}
.shrinkage-app #aoyu {
  display: inline-block;
}
.table {
  text-align: center;
  font-size: 12px;
}
.table tr {
  height: 30px;
  line-height: 30px;
}
.table tr.active {
  border-left: 3px solid #1b80ac;
}
.table thead > tr > td.active,
.table tbody > tr > td.active,
.table tfoot > tr > td.active,
.table thead > tr > th.active,
.table tbody > tr > th.active,
.table tfoot > tr > th.active,
.table thead > tr.active > td,
.table tbody > tr.active > td,
.table tfoot > tr.active > td,
.table thead > tr.active > th,
.table tbody > tr.active > th,
.table tfoot > tr.active > th {
  background-color: #e9e9e9;
}
.table tbody > tr:hover {
  background-color: #e9e9e9;
}
.table tbody > tr.active > td.sort {
  color: #ff5715;
}
.table th,
.table td {
  white-space: nowrap;
}
.table tr.text-center th,
.table tr.text-center td {
  text-align: center;
}
.table a:link {
  color: #1e90c2;
  text-decoration: none;
}
.table a:link:hover {
  text-decoration: underline;
}
.table-bordered-saaf {
  border-left: none !important;
  border-right: none !important;
}
.table-bordered-saaf th:first-child,
.table-bordered-saaf th:last-child,
.table-bordered-saaf td:first-child,
.table-bordered-saaf td:last-child {
  border-left: none;
  border-right: none;
}
.data-table {
  position: relative;
}
.btn .fa,
.btn .iconfont {
  margin-right: 3px;
}
.textarea {
  min-height: 100px !important;
  _height: 100px;
}
a.tree-copy {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #1e90c2;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-left: -25px;
}
a.tree-copy:hover {
  background-color: #1b80ac;
}
a.tree-copy span {
  color: #fff;
}
.radius3 {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.radius3-4 {
  border-radius: 3px !important;
}
a {
  cursor: pointer !important;
  color: #1e90c2;
  text-decoration: none;
}
a.visited {
  color: #d1dce8;
}
a.active {
  color: #1e90c2;
}
a:hover {
  color: #1b80ac;
  text-decoration: none;
}
.tab-group .tab-panel {
  display: none;
}
.tab-group .tab-panel.active {
  display: block;
}
.radius {
  border-radius: 10em;
}
.sys-icon-1:before {
  content: "\e60f";
}
.sys-icon-2:before {
  content: "\e618";
}
.sys-icon-3:before {
  content: "\e630";
}
.sys-icon-4:before {
  content: "\e61e";
}
.sys-icon-5:before {
  content: "\e626";
}
.sys-icon-6:before {
  content: "\e617";
}
.sys-icon-7:before {
  content: "\e619";
}
.sys-icon-8:before {
  content: "\e624";
}
.sys-icon-9:before {
  content: "\e600";
}
.nicescroll-height {
  height: 100% !important;
  position: relative;
}
#aside-left {
  position: absolute;
  width: 220px;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
.input-form {
  overflow: hidden;
  height: 30px;
}
#aside-right {
  position: relative;
  margin-left: 220px;
}
.lang-EN #aside-left {
  width: 260px;
}
.lang-EN #aside-right {
  margin-left: 260px;
}
#user-info {
  position: relative;
}
#user-info .photo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
#user-info #exp-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}
#c-logo,
#c-app-name {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft YaHei UI";
}
#c-logo {
  border-bottom: 1px solid #1b83b0;
}
#app-title {
  line-height: 50px;
  height: 50px;
}
#app-title .app-tiltle-chiren {
  color: #fff;
  display: inline-block;
  padding: 0 20px;
}
#app-title .app-tiltle-chiren .fa {
  padding-right: 3px;
}
#app-title .app-tiltle-chiren:hover {
  background-color: #1b80ac;
  color: #fff;
}
#aside-menu {
  font-family: "Microsoft YaHei UI";
}
#aside-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#aside-menu ul.tab {
  background-color: #d1dce8;
  display: flex;
  white-space: nowrap;
}
#aside-menu ul.tab li {
  display: inline-block;
  flex: 1;
  border-left: 1px solid #176f96;
  text-align: center;
  position: relative;
}
#aside-menu ul.tab li.active {
  background-color: #fff;
  box-shadow: #999 0 -2px 8px;
}
#aside-menu ul.tab li.active a {
  color: #1e90c2;
  background-color: #fff;
}
#aside-menu ul.tab li.active a .fa-circle {
  color: #1b80ac;
}
#aside-menu ul.tab li:hover {
  background-color: #1b80ac;
}
#aside-menu ul.tab li:hover .fa-circle {
  color: #fff;
}
#aside-menu ul.tab li:first-child {
  border: none;
}
#aside-menu ul.tab li a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #fff;
  width: 100%;
}
#aside-menu ul.tab li a .fa-circle {
  color: #1b80ac;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 10px;
}
#aside-menu .tab-panel h4 {
  font-size: 14px;
  padding: 0 0 0 15px;
  line-height: 40px;
  margin: 0;
}
#aside-menu #main-menu {
  border-top: 1px solid #e6e6e6;
  list-style: none;
  position: relative;
}
#aside-menu #main-menu li {
  position: relative;
  line-height: 38px;
  white-space: nowrap;
  border-bottom: 1px solid #e6e6e6;
}
#aside-menu #main-menu li .iconfont,
#aside-menu #main-menu li .fa {
  font-size: 18px;
  margin-right: 10px;
  color: #33abe0;
  line-height: 38px;
}
#aside-menu #main-menu li a {
  display: block;
  padding-left: 15px;
  color: #333333;
}
#aside-menu #main-menu li a:hover {
  color: #1b80ac;
}
#aside-menu #main-menu li a:hover .iconfont,
#aside-menu #main-menu li a:hover .fa {
  color: #1b80ac;
}
#aside-menu #main-menu li a:hover .icon-radius {
  background-color: #1b80ac;
}
#aside-menu #main-menu li.expand > a {
  border-bottom: 1px solid #e6e6e6;
}
#aside-menu #main-menu li.active > a {
  background-color: #1b80ac;
}
#aside-menu #main-menu li.active > a span,
#aside-menu #main-menu li.active > a i {
  color: #fff;
}
#aside-menu #main-menu li.active > a:hover .iconfont,
#aside-menu #main-menu li.active > a:hover .fa {
  color: #fff;
}
#aside-menu #main-menu li .focus > a {
  color: #1b80ac;
}
#aside-menu #main-menu li .focus > a span {
  color: #1b80ac;
}
#aside-menu #main-menu li .focus > a .icon-radius {
  background-color: #1b80ac;
}
#aside-menu #main-menu li .icon-radius {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #d1dce8;
  position: absolute;
  left: -5px;
  top: 14px;
}
#aside-menu #main-menu ul {
  border-left: 1px solid #e6e6e6;
  margin-left: 30px;
}
#aside-menu #main-menu ul li:last-child {
  border-bottom: none;
}
#aside-menu #main-menu .sub-menu li.active > a {
  background: #fff;
  color: #1e90c2;
  font-weight: bold;
}
#aside-menu #main-menu .sub-menu li.active > a .icon-radius {
  background-color: #1e90c2;
}
#aside-menu #main-menu .sub-menu li.active > a .sub-fa {
  color: #1e90c2;
}
#main-container #mainTabList {
  min-width: 100%;
  position: relative;
}
#main-container ul.tab {
  font-family: "Microsoft YaHei UI";
  background-color: #d1dce8;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
}
#main-container ul.tab li {
  display: inline-block;
  border-right: solid 1px #ccc;
  text-align: center;
  position: relative;
}
#main-container ul.tab li:first-child {
  border-right: solid 1px #ccc;
}
#main-container ul.tab li:first-child a {
  padding: 0 25px;
}
#main-container ul.tab li .icon-cuowu {
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin: 8px;
  float: right;
}
#main-container ul.tab li:hover .icon-cuowu {
  color: #fff;
}
#main-container ul.tab li:hover .icon-cuowu:hover {
  color: #4ab4e3;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
#main-container ul.tab li a {
  display: inline-block;
  padding: 0 5px 0 15px;
  color: #000000;
  font-size: 12px;
  max-width: 220px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#main-container ul.tab li.active {
  background-color: #e6e6e6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 5px #1e90c2;
}
#main-container ul.tab li.active a {
  color: #333333;
  font-weight: bold;
}
#main-container ul.tab li.active a:hover {
  background-color: #e6e6e6;
}
#main-container ul.tab li.active a .icon-cuowu {
  color: #333333;
}
#main-container ul.tab li.active a .icon-cuowu:hover {
  background-color: #1b80ac;
  color: #fff;
  border-radius: 4px;
}
#aside-left,
#aside-right {
  transition: all 0.3s;
}
.shrinkage-app #aside-left {
  width: 50px;
}
.shrinkage-app #aside-right {
  margin-left: 50px;
}
.shrinkage-app #c-logo {
  display: none;
}
.shrinkage-app #logo {
  margin: 0;
  text-align: center;
}
.shrinkage-app #logo img {
  height: 30px;
}
.shrinkage-app #user-info {
  padding: 0;
}
.shrinkage-app #user-info .photo {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.shrinkage-app #user-name-box {
  display: none;
}
.shrinkage-app #aside-menu ul.tab,
.shrinkage-app #aside-menu li .pull-right,
.shrinkage-app #aside-menu .tab-panel h4 {
  display: none;
}
.shrinkage-app #aside-menu #main-menu .text {
  display: none;
}
.shrinkage-app #aside-menu #main-menu li .iconfont {
  font-size: 22px;
}
.shrinkage-app #aside-menu #main-menu ul {
  border-left: 2px solid #1b80ac;
  position: absolute;
  box-sizing: content-box;
  top: 0;
  left: 50px;
  width: 220px;
  background-color: #fff;
  z-index: 100;
  margin-left: 0;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
.shrinkage-app #aside-menu #main-menu ul .pull-right {
  display: inline-block;
}
.shrinkage-app #aside-menu #main-menu ul .icon-radius {
  display: none;
}
.shrinkage-app #aside-menu #main-menu ul ul {
  margin-left: 170px;
}
.shrinkage-app #aside-menu .nicescroll-height {
  overflow: visible !important;
  width: 50px !important;
}
.data-on-all-screen #aside-left,
.data-on-all-screen #app-title,
.data-on-all-screen #mainTabList {
  display: none;
}
.data-on-all-screen #aside-right {
  margin-left: 0;
}
.ztree.dropdown-ztree {
  overflow-y: auto;
  max-height: 300px;
}
.ztree.dropdown-ztree li span.button.bottom_open {
  display: none;
}
.ztree.dropdown-ztree li span.button.bottom_close {
  display: none;
}
.ztree.dropdown-ztree li a {
  padding: 2px 3px;
  display: inline-block;
  width: 90%;
}
.ztree.dropdown-ztree li a:hover {
  background-color: #f5f5f5;
  color: #1b80ac;
}
.ztree.dropdown-ztree li a.curSelectedNode {
  background-color: transparent;
  border: none;
}
.ztree.dropdown-ztree li a.curSelectedNode .node_name {
  padding-top: 0px;
  background-color: #FFE6B0;
  color: black;
  height: 16px;
  border: 1px #FFB951 solid;
}
.comp-org-tree {
  font-size: 12px;
  list-style-type: none;
  text-align: center;
}
.comp-org-tree ul {
  padding: 0;
  margin: 30px auto 0 auto;
  display: table;
  white-space: nowrap;
  vertical-align: top;
}
.comp-org-tree li {
  transition: all 0.5s;
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.comp-org-tree li .anim-width {
  width: auto;
  transition: width 0.3s linear;
  height: 0;
}
.comp-org-tree li.Expand ul {
  display: table;
}
.comp-org-tree li.Expand .vert-line-bottom {
  display: inline-block;
}
.comp-org-tree li.noExpand ul {
  display: none;
}
.comp-org-tree li.noExpand .vert-line-bottom {
  display: none;
}
.comp-org-tree li .vert-line-bottom {
  position: absolute;
  display: inline-block;
  height: 20px;
  bottom: -22px;
  left: 50%;
  border-left: 1px solid #aaa;
}
.comp-org-tree li label,
.comp-org-tree li .labels {
  border-radius: 6px;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  line-height: 34px;
  height: 34px;
  border: 1px solid #aaa;
  width: 90px;
  margin: 0 4px;
  position: relative;
}
.comp-org-tree li label .item-name,
.comp-org-tree li .labels .item-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.comp-org-tree li label .tooltip,
.comp-org-tree li .labels .tooltip {
  white-space: nowrap;
}
.comp-org-tree li label .fa,
.comp-org-tree li .labels .fa {
  font-size: 14px;
  position: absolute;
  display: none;
}
.comp-org-tree li label .add,
.comp-org-tree li .labels .add {
  top: -6px;
  right: -6px;
  background-color: #fff;
}
.comp-org-tree li label .remove,
.comp-org-tree li .labels .remove {
  bottom: -6px;
  left: -6px;
  background-color: #fff;
  color: red;
}
.comp-org-tree li label .edit,
.comp-org-tree li .labels .edit {
  bottom: -6px;
  right: -6px;
  background-color: #fff;
}
.comp-org-tree li label .expand,
.comp-org-tree li .labels .expand {
  left: 50%;
  margin-left: -3px;
  bottom: -7px;
  display: inline-block;
  color: #333;
}
.comp-org-tree li label .expand:hover,
.comp-org-tree li .labels .expand:hover {
  color: #1b80ac;
}
.comp-org-tree li label:hover,
.comp-org-tree li .labels:hover {
  border-color: #333;
}
.comp-org-tree li label.active,
.comp-org-tree li .labels.active {
  border: 1px solid #1b80ac;
  color: #1b80ac;
}
.comp-org-tree li label.active .remove,
.comp-org-tree li .labels.active .remove,
.comp-org-tree li label.active .edit,
.comp-org-tree li .labels.active .edit,
.comp-org-tree li label.active .add,
.comp-org-tree li .labels.active .add,
.comp-org-tree li label.active .expand,
.comp-org-tree li .labels.active .expand {
  font-size: 16px;
  display: inline-block;
  color: #1b80ac;
}
.comp-org-tree li label.active .remove,
.comp-org-tree li .labels.active .remove {
  color: #ff5715;
}
.comp-org-tree li li .hori-line {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  position: absolute;
  top: -15px;
  width: 100%;
  left: 0;
}
.comp-org-tree li li .hori-line-last {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  position: absolute;
  top: -15px;
  width: 50%;
  left: 50%;
}
.comp-org-tree li li .hori-line-first {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  position: absolute;
  top: -15px;
  width: 50%;
  right: 50%;
}
.comp-org-tree li li .vert-line {
  position: absolute;
  display: inline-block;
  height: 15px;
  top: -15px;
  left: 50%;
  border-left: 1px solid #aaa;
}
.saaf-img-up {
  border: dotted 3px lightgray;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 1px;
}
.saaf-img-look {
  position: fixed;
  top: 30px;
  max-width: 50%;
  max-height: 100%;
  z-index: 100000;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 0 3px #555;
  background-color: white;
  color: silver;
  border-radius: 4px;
}
.table-input-td {
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}
.table-input-td input {
  box-sizing: border-box;
  height: 22px;
  padding: 0px 12px;
  font-size: 12px;
}
.badge-home-top {
  display: inline-block;
  min-width: 10px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: red;
  border-radius: 10px;
  position: relative;
  top: -7px;
}
.badge-home-body {
  display: inline-block;
  min-width: 10px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: red;
  border-radius: 10px;
  position: relative;
  top: -5px;
}
.language {
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.language a {
  color: #fff;
  display: inline-block;
  padding: 0 5px;
}
.rule-node {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 2rem;
  margin-right: 2px;
  background-color: #1e90c2;
  color: #fff;
}
.rule-node a {
  color: #ffff00;
}
.rule-node a:hover {
  color: #fff;
}
.rule-logic {
  background-color: #1e90c2;
}
.menu-button-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-button-list li {
  display: inline-block;
  padding: 3px;
}
.ztree-select-box {
  position: absolute;
  right: 15px;
  padding: 10px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: #ccc 0 2px 5px;
  border-radius: 5px;
  z-index: 1000;
}
.ztree-select-box .ztree-select-button {
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
}
.ztree-select {
  margin: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  border-radius: 5px;
}
.closeTab {
  position: absolute;
  right: 0;
  z-index: 10;
  height: 32px;
  line-height: 32px;
  width: 30px;
  text-align: center;
  border-left: 1px solid #c9cbcc;
  background-color: #d1dce8;
}
.closeTab a.dropdown-toggle {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.closeTab a.dropdown-toggle:hover {
  background-color: #b9d1ea;
}
.closeTab .dropdown-menu {
  right: 0;
  left: auto;
  min-width: inherit;
}
.closeTab .dropdown-menu a {
  font-size: 12px !important;
}
.data-on-all-screen .closeTab {
  display: none;
}
.rightMenu {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  box-shadow: 0 0 5px #999;
}
.rightMenu a {
  font-size: 12px;
  color: #000;
  line-height: 180%;
}
.rightMenu a:hover {
  color: #1e90c2;
}
.rightMenu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/*yuanjunxin start*/
.bg-grey {
  background-color: #f4f4f4;
  margin-top: 5px;
}
.chooseList-title {
  text-align: center;
  padding: 5px 0 5px 0;
}
.chooseList-input {
  padding-left: 0 !important;
  float: none;
}
.chooseList-bg {
  height: 100%;
  margin-right: -1px;
  width: 233.3px;
  float: left;
}
.bg-grey label span {
  text-align: left;
}
.bg-margin {
  margin: 8px 10px 0 5px !important;
}
.chooseList-ul {
  padding: 0 !important;
}
.chooseList-ul li {
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.chooseList-bg-right {
  width: calc(100% - 232.3px);
  float: right;
}
.photoList {
  padding: 10px 5px 0 9px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.photos {
  height: 170px;
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  /*background-color: red;*/
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
.photos img {
  height: 125px;
  width: 125px;
  border-radius: 15px;
}
.col1 {
  flex: 1;
}
.col1 p {
  margin: 3px 0 0 0 !important;
}
.photos-address {
  width: 100px;
  overflow: hidden;
}
.photos-name {
  width: 50px;
  overflow: hidden;
  margin-right: 10px;
}
/*蓝色warning icon*/
.u-icon-warningO {
  display: inline-block;
  top: 6px;
  left: 10px;
  width: 16px;
  height: 16px;
  line-height: 18px;
  border-radius: 100%;
  background: #56a2ed;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
}
.fileInput {
  opacity: 0;
  position: absolute;
  left: -6px;
  width: 60px;
  overflow: hidden;
}
.photoSet {
  width: 130px;
}
.photoSet input {
  width: 30px;
  border: 0;
  text-align: center;
  overflow: hidden;
}
.detele-btn {
  border: 0;
  color: #00a0e9;
}
.add-btn {
  border: 0;
  color: #4d8dc5;
}
.add-btn i {
  font-size: 14px;
}
/*图片放大遮罩层*/
.mask {
  display: none;
}
.mask-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.5;
  background: #000;
}
.big-pic-wrap {
  position: fixed;
  top: 350px;
  left: 50%;
  margin-left: -460px;
  margin-top: -300px;
  width: 75%;
  height: 75%;
  padding: 10px;
  z-index: 110;
  background: #fff;
  border-radius: 10px;
}
.lunboBg {
  width: 65%;
  height: 95%;
  float: left;
  background-color: black;
}
.bigPic {
  max-width: 95%;
  max-height: 90%;
}
/*关闭大图按钮*/
.close-pic {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50% !important;
  background: #393A3C;
  text-align: center;
  line-height: 40px;
}
.close-pic:hover {
  background: #D43F27;
}
.close-pic > i {
  font-size: 25px;
  color: #fff;
}
.lunbo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.photoTabList {
  float: right;
  margin-right: 10px;
  height: 96%;
  width: 32%;
  overflow-x: hidden;
}
.photoTab {
  background-color: #0000008c;
  color: white;
  margin-bottom: 0 !important;
}
.tabPhotos {
  height: 70px;
  width: 80px;
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 0 !important;
}
.photoPagination {
  position: absolute;
  bottom: 10px;
}
.bg-green-title {
  background-color: #dbeceb;
}
.marketing div div {
  border-radius: 20px;
  border: 0.5px solid #9d9d9d;
}
.marketingChose {
  background-color: #199ed8;
  color: white;
  border: 0.5px solid #199ed8 !important;
}
.fs14 {
  font-size: 14px;
}
.br15 {
  border-radius: 10px;
}
.position-a {
  position: absolute;
}
.rowFlex {
  display: flex;
  display: -webkit-flex;
}
.flex03 {
  flex: 0.3;
}
.flex07 {
  flex: 0.7;
}
.bgBlue {
  background-color: #1e3f9a;
}
.bgOrange {
  background-color: orange;
}
.cBlue {
  color: #1e3f9a;
}
.cOrange {
  color: orange;
}
.specalTable #cRTable thead {
  background-color: white !important;
  border-bottom: 0 !important;
}
.specalTable #cRTable table {
  border: 0 !important;
}
.specalTable #cRTable th {
  border-right: 0 !important;
}
.specalTable #cRTable td {
  border-right: 0 !important;
}
.detailTile {
  background-color: #e6e6e682;
  border-radius: 20px;
}
.w950 {
  width: 950px;
}
.act-add-rule {
  border-radius: 10px;
  border: 1px solid #00a0e9;
}
.imgChoosing {
  border: 3px solid #00b7ee;
}
.bg-photoLabel {
  background-color: #1e90c2;
  color: white;
}
.OriginalPhoto {
  color: rosybrown;
}
/* 审批结果公章　*/
.seal_pass {
  width: 130px;
  height: 115px;
  background: url('../img/pass.png') no-repeat center;
  position: absolute;
  right: 5%;
  top: 1%;
  z-index: 10;
  transition: opacity 0.2s;
}
.seal_pass:hover {
  opacity: 0.1;
}
.seal_pass_blue {
  background: url('../img/pass_blue.png') no-repeat center;
}
.fontwB {
  font-weight: bold;
}
/*
.search-form {
  [readonly] {
    background-color: white;
  }
}*/
.memberList {
  margin-bottom: 20px;
}
.memberList header .icon {
  float: left;
  font-size: 16px;
}
.memberList header .title {
  margin-left: 30px;
}
.memberList header .title h4 {
  margin: 0;
  font-size: 16px;
}
.memberList header .title small {
  color: #999;
}
.memberList ul {
  margin: 0 0 0 30px;
  padding: 0;
}
.memberList li {
  margin: 10px  10px 0 5px;
  display: inline-block;
  padding: 15px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.memberList li .title {
  font-size: 16px;
  margin: 0;
}
.memberList li .remark {
  color: #999;
}
/*# sourceMappingURL=main.css.map */