ul li {
  list-style: none;
  outline: none;
}
.tree-table {
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
  display: table;
}
.tree-table .tree-body {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.tree-table .tree-body:hover {
  background: #f5f5f5;
}
.tree-head {
  background: #e3efef;
  height: 30px;
  line-height: 30px;
  position: relative;
  font-weight: 500;
}
.head-bg {
  background: #e3efef;
}
.tree-head,
.tree-body {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 0px;
}
.tree-head .tree-th,
.tree-body .tree-th,
.tree-head .tree-td,
.tree-body .tree-td {
  display: inline-block;
  font-size: 14px;
}
.l1 {
  border: 1px solid #ccc;
}
.l1 .tree-th,
.l1 .tree-td {
  width: 8%;
}
.l2 {
  float: left;
  width: 95%;
  margin-left: 5%;
  border: 1px solid #ccc;
}
.l2 .tree-th,
.l2 .tree-td {
  width: 15%;
}
.l3 {
  float: left;
  width: 90%;
  margin-left: 10%;
  border: 1px solid #ccc;
}
.l3 .tree-th,
.l3 .tree-td {
  width: 30%;
}
.bbn {
  border-bottom: none;
}
.head-line {
  position: absolute;
  width: 28px;
  height: 29px;
  display: block;
  background-image: url('../img/head-line.png');
  background-repeat: no-repeat;
  left: -28px;
  top: -12px;
}
