<div ng-controller="supplementListCtrl" class="bigdata">
    <form class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <div class="bg-gray-white bt">
            <div class="bg-gray-white p5">
                <div class="pull-right ml10" >
                    <div class="btn-group btn-group-xs ">
                        <button class="btn btn-default" type="button" ng-click="dataTable.search(1)">
                            <i class="fa fa-search" aria-hidden="true"></i>{{$l('搜索')}}
                        </button>
                        <button class="btn btn-default" type="button" ng-click="">
                            <i class="fa fa-undo" aria-hidden="true"></i>{{$l('重置')}}
                        </button>
                        <div class="btn-group btn-group-xs " permission-buttons="btnNew,btnModify" >
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-xs ">
                    <button type="button" class="btn  btn-warning" ng-click="moreInput($event)">
                        <i class="fa fa-chevron-circle-down"></i>{{$l('高级查询')}}
                    </button>
                    <button  type="button" class="btn btn-primary" ng-click="fullWindow($event)">
                        <i class="fa fa-square-o"></i>{{$l('数据全屏')}}
                    </button>
                </div>
            </div>
        </div>

        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
            <div class="nicescroll-height  bg-white " ng-nicescroll
                 nice-option="{{niceOpction}}" data-des="此节点必需-滚动内容及指令">
                <div class=" mt10 pb5 input-form bb oh" input-form
                     data-des="此节点必需－用于识别输入表单的指令">
                    <div class="col-xs-12 mb10" style="margin: 10px">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>条件信息</span>
                    </div>
                    <div search-form
                         data-legend="[
                            {key:'sideAgrtCode',label:'单据编号'},
                            {key:'billStatus',label:'单据状态',type:'lookCode',lookCode:'SUPPLEMEN_STATUS'}
                        ]"
                         ng-model="params"
                    ></div>
                </div>
                <div class="col-xs-12 mb10" style="margin: 10px">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>规则信息</span>
                </div>

                <div id="part2">
                    <div  class="col-md-12 tab">
                        <div class="tab-content">
                            <div class="data-table">
                                <div base-data-table="dataTable"
                                     data-auto-request="true"
                                     ng-params="params"
                                     data-show-index="true"
                                     data-url="findSideAgrtHeaderList"
                                     data-legend="[
                              {'value':'sideAgrtCode','name':'单据编号'},
                              {'value':'creationDate','name':'制单日期'},
                              {'value':'lastUpdateDate','name':'审批日期'},
                              {'value':'createByUser','name':'制单人'},
                              {'value':'startDate','name':'生效范围'},
                              {'value':'endDate','name':'生效范围至'},
                              {'value':'statusName','name':'单据状态'}
                             ]"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>