<style>
    .longHr {
        width: 97%;
        border: 1px solid #3e89c0
    }
</style>
<script type="text/javascript" src="http://10.82.24.107/api/ttaServer/pageOfficeService/pageoffice.js"
        id="po_js_main"></script>
<div ng-controller="ttaSaNonStandarHeaderDCtrl" class="gridtable">
    <script type="text/javascript" ng-src="{{PageOfficeUrl}}" id="po_js_main1"></script>
    <div id="processForm"
         data-api-post="saveOrUpdateTtaSaNonStandarHeader"
         data-api-get="findByIdTtaSaNonStandarHeader"
         data-api-update="saveOrUpdateTtaSaNonStandarHeader">
    </div>
    <div ng-if="!urlParams.businessKey" class="bg-gray-white bt">
        <div class="bg-gray-white p5">
            <div class="btn-group btn-group-xs pull-right ml10" id="outputButton">
                <div resp-change="" style="display: none"></div>
                <button class="btn btn-default dataMax" type="button" ng-click="btnPrint()" >
                    <i class="fa fa-print"></i> {{$l('合同查看')}}
                </button>
                <button id="saveBtnId" type="button" ng-click="btnSave(protocolForm,'1')" permission-btn="btnSave"
                        data-validate-form="protocolForm"
                        class="btn btn-default">
                </button>
                <button id="submitBtnId" class="btn btn-default" data-validate-form="protocolForm"
                        ng-click="btnSubmit(protocolForm)"
                        permission-btn="btnSubmit"></button>
                <button id="btnOtherId" type="button" permission-btn="btnChange" ng-click="btnChange()"
                        class="btn btn-default" data-validate-form="protocolForm">
                </button>
                <button id="discardId" class="btn btn-default" data-validate-form="protocolForm"
                        ng-click="btnDiscard(info)"
                        permission-btn="btnDiscard"></button>
            </div>
            <div class="btn-group btn-group-xs ">
                <button class="btn btn-primary" ng-click="fullWindow($event)">
                    <i class="fa fa-square-o"></i>{{$l('数据全屏')}}
                </button>
            </div>
        </div>
    </div>
    <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
        <div class="nicescroll-height  bg-white " ng-nicescroll
             nice-option="{{niceOpction}}"
             data-des="此节点必需-滚动内容及指令">

            <ul ng-if="!urlParams.businessKey" class="nav nav-tabs mt10">
                <li role="presentation" class="active" ng-click="tabChange('infoBusiness')">
                    <a href="#clauseManageDBusiness" aria-controls="infoBusiness" role="tab"
                       data-toggle="tab">业务表单</a>
                </li>
                <li role="presentation" ng-click="tabChange('opinion')">
                    <a href="#opinion" aria-controls="opinion" role="tab" data-toggle="tab">流程图</a>
                </li>
                <li ng-show="tabAction=='opinion'">
                    <ul>
                        <li style="list-style-type: square;float: left;font-size: 20px;color: #cc0033;margin-right: 30px;text-indent: -7px;">
                            <span style="font-size: 14px;">未接收</span>
                        </li>
                        <li style="list-style-type: square;float: left;font-size: 20px;color: #ff6600;margin-right: 30px;text-indent: -7px;">
                            <span style="font-size: 14px;">办理中</span>
                        </li>
                        <li style="list-style-type: square;float: left;font-size: 20px;color: #339933;margin-right: 30px;text-indent: -7px;">
                            <span style="font-size: 14px;">已办结</span>
                        </li>
                        <li style="list-style-type: square;float: left;font-size: 20px;color: #666666;margin-right: 30px;text-indent: -7px;">
                            <span style="font-size: 14px;">预设步骤</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--------------------- 输入表单  --->
            <div ng-show="tabAction== 'infoBusiness'" role="tabpanel" class="tab-pane active"
                 id="infoBusiness"
                 style="border: 0;width:100%;height: 100%;">
                <form name="protocolForm" class=" mt10 pb5  oh" id="protocolForm"
                      data-des="此节点必需－用于识别输入表单的指令">

                    <header class="col-xs-12 mb10">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>补充协议(非标准)信息</span>
                    </header>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">单据编号：</span></label>
                            <input class="form-control radius3" ng-model="info.orderNo" name="orderNo"
                                   readonly type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">版本号：</span></label>
                            <input class="form-control radius3" ng-model="info.orderVersion" name="orderVersion"
                                   readonly type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100"><i class="red">* </i>供应商编码：</span></label>
                            <input class="form-control radius3" disabled name="vendorCode"
                                   ng-model="info.vendorCode" required type="text">
                            <span class="input-group-btn ng-scope">
                                            <button class="btn btn-default" ng-click="getSupplierCode('H')"
                                                    type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                        </div>
                    </div>


                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">供应商名称：</span></label>
                            <input class="form-control radius3" disabled
                                   name="vendorName" ng-model="info.vendorName" required type="text"
                                   title="{{info.vendorName}}">
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100"><i
                                    class="red">*</i>补充协议类型：</span></label>
                            <div lookup-code="TTA_EXCLUSIVE_TYPE" readonly="true" name="type"
                                 ng-model="info.type"></div>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100"><i class="red">* </i>补充协议标准模板：</span></label>
                            <input class="form-control radius3" disabled name="quoteTplName"
                                   ng-model="info.quoteTplName" required type="text">
                            <span class="input-group-btn ng-scope">
                                            <button class="btn btn-default" ng-click="getTplName()" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                         </span>
                        </div>
                        <input class="form-control radius3" name="tplCode" ng-model="info.tplCode" ng-show="false"
                               type="text">
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100"><i class="red">* </i>合同生效起：</span></label>
                            <input type="text" class="form-control radius3 input-xs" required
                                   date-time-picker data-is-today="false" name="startTime"
                                   data-date-format="yyyy-mm-dd"
                                   data-stratdate="{{selectStartDate}}"
                                   data-enddate="{{info.endTime}}"
                                   data-min-View="2" ng-model="info.startTime" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100"><i class="red">* </i>合同生效至：</span></label>
                            <input type="text" class="form-control radius3 input-xs" required
                                   date-time-picker data-is-today="false" name="endTime"
                                   data-date-format="yyyy-mm-dd"
                                   data-stratdate="{{info.startTime}}"
                                   data-min-View="2" ng-model="info.endTime" autocomplete="off">
                        </div>
                    </div>


                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">制单日期：</span></label>
                            <input type="text" disabled class="form-control radius3 input-xs"
                                   date-time-picker data-is-today="true" name="creationDate"
                                   data-date-format="yyyy-mm-dd"
                                   data-min-View="2" ng-model="info.creationDate">
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">制单人：</span></label>
                            <input type="text" required class="form-control radius3" name="createdByName"
                                   ng-readonly="true"
                                   ng-model="info.createdByName">
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">单据状态：</span></label>
                            <div lookup-code="TTA_STD_APPLY_HEADER_STATUS" required="true" name="status" disabled
                                 ng-model="info.status" ng-value="A"></div>

                        </div>
                    </div>

                    <div class="form-group col-xs-4 col-md-3" id="isSkipApproveDiv">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w150">是否需要GM审批</span>
                            </label>
                            <input class=" radius3" name="isShowFlag" ng-model="isShowFlag" ng-show="false">
                            <input class=" radius3" name="isSkipApprove" ng-false-value="'N'" id="isSkipApprove"
                                   ng-disabled="!isShowFlag"
                                   ng-model="info.isSkipApprove"
                                   ng-true-value="'Y'" type="checkbox" ng-change="isSkipApproveFun()">
                        </div>
                    </div>

                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">部门编码：</span></label>
                            <input type="text" class="form-control radius3" name="deptCode"
                                   ng-readonly="true"
                                   ng-model="info.deptCode">
                        </div>
                    </div>

                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">部门名称：</span></label>
                            <input type="text" class="form-control radius3" name="deptName"
                                   ng-readonly="true"
                                   ng-model="info.deptName">
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">BIC登记：</span></label>
                            <input type="text" class="form-control radius3 input-xs"
                                   date-time-picker data-is-today="false" name="bicRegister"
                                   data-date-format="yyyy-mm-dd"
                                   data-min-View="2" ng-model="info.bicRegister"
                                   autocomplete="off">
                            <!--ng-disabled="userData.userType != '45'"-->
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">财务登记：</span></label>
                            <input type="text" class="form-control radius3 input-xs"
                                   disabled
                                   date-time-picker data-is-today="false" name="financeRegister"
                                   data-date-format="yyyy-mm-dd"
                                   data-min-View="2" ng-model="info.financeRegister"
                                   autocomplete="off">
                            <!--ng-disabled="userData.userType != '100'"-->
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">法务登记：</span></label>
                            <input type="text" class="form-control radius3 input-xs"
                                   disabled
                                   date-time-picker data-is-today="false" name="legaRegister"
                                   data-date-format="yyyy-mm-dd"
                                   data-min-View="2" ng-model="info.legaRegister"
                                   autocomplete="off">
                            <!--ng-disabled="userData.userType != '110'"-->
                        </div>
                    </div>

                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">归档日期：</span></label>
                            <input type="text" class="form-control radius3 input-xs"
                                   disabled
                                   date-time-picker data-is-today="false" name="pigeonholeDate"
                                   data-date-format="yyyy-mm-dd"
                                   data-min-View="2" ng-model="info.pigeonholeDate"
                                   autocomplete="off" ng-disabled="userData.userType != '45' && info.status !='C'">
                            <!--ng-disabled="userData.userType != '110'"-->
                        </div>
                    </div>

                    <div class="form-group col-xs-4 col-md-12">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">附件上传：</span>
                            </label>
                            <input ng-if="!info.sourceFileName" type="file" name="file" id="file"
                                   emms-file-upload="myFile" style="margin-bottom: 5px">
                            <input class="form-control radius3" ng-if="info.sourceFileName"
                                   ng-model="info.sourceFileName" readonly style="margin-bottom: 5px">

                            <button class="btn btn-primary btn-xs"
                                    ng-click="upload($event,'sourceFileName','file','TTA_SA_NON_STANDAR_HEADER_ATTACHMENT','attachmentFileId')">
                                <i class="fa fa-upload">上传</i>
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    ng-click="downFileEvent(info,'sourceFileName','file','TTA_SA_NON_STANDAR_HEADER_ATTACHMENT','attachmentFileId')">
                                <i class="fa fa-download">下载查看</i>
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    ng-click="delUploadFile(info,'sourceFileName','file','TTA_SA_NON_STANDAR_HEADER_ATTACHMENT','attachmentFileId')">
                                <i class="fa fa-trash">删除附件</i>
                            </button>
                            <!-- <div class="btn-group btn-group-xs">
                             </div>-->
                        </div>
                    </div>

                </form>

                <div style="width:100%;">
                    <!--<div style="margin: auto; width: 100%">
                        <label style="margin-left: 15px"><i class="fa fa-cog" aria-hidden="true"></i>{{$l('匹配Proposal供应商')}}</label>
                        <hr class="longHr">
                        <div class="pull-right ml10">
                            <div class="btn-group btn-group-xs ">
                                &lt;!&ndash;data-target="#proposalSupplierLov"&ndash;&gt;
                                <button id ="proposalIdSave" class="btn btn-default" type="button" data-toggle="modal" ng-click="getContractVendorProposal()"
                                >
                                    <i class="fa fa-plus" aria-hidden="true"></i>{{$l('选择Proposal')}}
                                </button>
                                <button id ="proposalIdDelete" class="btn btn-default" type="button" ng-click="btnDelProposalSupplier()" data-toggle="modal"
                                        >
                                    <i class="fa fa-trash" aria-hidden="true"></i>{{$l('删除')}}
                                </button>
                            </div>
                        </div>
                    </div>
-->
                    <header class="col-xs-12 mb10">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <label>{{$l('匹配Proposal供应商')}}</label>
                        <div class="pull-right ml10">
                            <div class="btn-group btn-group-xs ">
                                <button id="proposalIdSave" class="btn btn-default" type="button" data-toggle="modal"
                                        ng-disabled="false"
                                        ng-click="getContractVendorProposal()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>{{$l('选择Proposal')}}
                                </button>
                                <button id="proposalIdDelete" class="btn btn-default" type="button"
                                        ng-click="btnDelProposalSupplier()" data-toggle="modal"
                                        ng-disabled="!dataTable.selectRow">
                                    <i class="fa fa-search" aria-hidden="true"></i>{{$l('删除')}}
                                </button>
                            </div>
                        </div>
                    </header>
                    <hr class="longHr">
                    <div class="data-table" style="margin: auto; width: 97%">
                        <div base-data-table="dataTable"
                             ng-params="proposalParams"
                             data-url="findTtaSaNonStandarLinePagination"
                             data-checked-type="checkbox"
                             data-auto-request="false"
                             data-keys="{'key':'soleSupplierId'}"
                             data-legend="[
                                 {'value':'proposalOrder','name':'Proposal合同号'},
                                 {'value':'proposalVersion','name':'版本号'},
                                 {'value':'proposalYear','name':'年度'},
                                 {'value':'vendorCode','name':'供应商编号'},
                                 {'value':'vendorName','name':'供应商名称'}
                             ]"
                        ></div>
                    </div>
                    <div style="height: 20px"></div>
                </div>
                <div class="row"></div>
                <div class="mb15 col-xs-12 col-md-12" id="ttaSoleNonStandarId">
                    <header class=" mb10" style="width: 100%">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <label>{{$l('补充协议拓展信息')}}</label>
                    </header>
                    <hr class="longHr">
                    <div id="">
                        <div class="form-group col-xs-3 col-md-3">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">甲方：</span></label>
                                <div lookup-code="TTA_OWNER_COMPANY" name="type" ng-model="info.partyAVendorName"></div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">乙方：</span></label>
                            <input class="form-control radius3" disabled name="partyBVendorName"
                                   ng-model="info.partyBVendorName" type="text">
                            <span class="input-group-btn ng-scope">
                                            <button class="btn btn-default" ng-click="getSupplierCode('B')"
                                                    type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">丙方：</span></label>
                            <input class="form-control radius3" disabled name="partyCVendorName"
                                   ng-model="info.partyCVendorName" type="text">
                            <span class="input-group-btn ng-scope">
                                            <button class="btn btn-default" ng-click="getSupplierCode('C')"
                                                    type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">合同年度：</span></label>
                            <input type="text" class="form-control radius3"
                                   date-time-picker="" data-date-format="yyyy"
                                   data-start-view="4" data-min-view="4" data-max-view="4"
                                   ng-model="info.contractYear">

                        </div>
                    </div>
                </div>
                <div id="content" main-scroll-style>
                    <label style="margin-left: 15px"><i class="fa fa-cog" aria-hidden="true"></i>详情</label>
                    <button type="button" name="contractEdit" class="btn btn-default btn-xs ml5 pull-right"
                            ng-click="openEditor()"><i class="fa fa-search">合同编辑</i></button>
                </div>

            </div>
            <div ng-if="!urlParams.businessKey" ng-show="tabAction== 'opinion'" role="tabpanel" class="tab-pane "
                 id="opinion"
                 style="border: 0;width:100%;height: 100%; overflow: hidden;position: relative;">
                <div id="processImg" style="width: 100%;height:100%; overflow: auto;">流程图加载中，请稍候...</div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addInfoSa" data-des="选择补充协议" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog " style="width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择补充协议
                    </h4>
                </div>
                <form class="ngValid" name="funcMenuForm">
                    <div class="modal-body">
                        <div class="form-group col-xs-12 col-md-12">
                            <div style="height: 300px;overflow-y: auto;" class="">
                                <ul class="ztree" id="InfoTplTypeSaZtree"></ul>
                            </div>
                        </div>
                        <div class="cb"></div>
                    </div>

                    <div class="modal-footer ">
                        <div style="text-align:center">
                            <button style="" type="button" class="btn btn-default" data-dismiss="modal">取消
                            </button>
                            <button ng-click="saveTplType('sa')" validate-form-btn="" data-validate-form="funcMenuForm"
                                    id="saveButton" class="btn btn-primary mr10">确定
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div lov-list="selectTemp" role="dialog" data-title="选择独家协议" id="selectTempId" ng-model="current.em2"
         data-url="findRule"
         data-dynamic-params='{"isEnable":"Y"}'
         data-callback="selectTempReturn"
         data-auto-request="true"
         data-return-type="key"
         data-pagination="{'pageIndex':'1','pageRows':'5'}"
         data-checked-type="radio"
         data-keys="{'key':'rulId','value':'rulId',hide:'true'}"
         data-show-index="false"
         data-type="competitor"
         data-other-column="[{'name':'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规则名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;','key':'ruleName'},
         {'name':'独家渠道类别','key':'soleResouceTypeName'},
         {'name':'独家产品类型','key':'soleProductTypeName'},
         {'name':'是否包含电商渠道','key':'isIncludeEc'},
         {'name':'是否包含独家渠道例外情形','key':'isIncludeSpecial'},
         {'name':'是否启用','key':'isEnable'},
         {'name':'备注信息','key':'remark'}]"
         data-search-key="[{'key':'ruleName','placeholder':'规则名称'},
                          {'key':'soleResouceTypeName','placeholder':'独家渠道类别'}]"
    >
    </div>

    <div data-auto-request="true" data-callback="selectSupplierReturn" data-checked-type="radio"
         data-dynamic-params="{}"
         data-keys="{'key':'supplierCode','value':'supplierCode','name':'供应商编码'}"
         data-other-column="[{'name':'供应商名称','key':'supplierName'}]"
         data-pagination="{'pageIndex':'1','pageRows':'5'}"
         data-return-type="key"
         data-search-key="[{'key':'supplierCode','placeholder':'供应商编码'},
                          {'key':'supplierName','placeholder':'供应商名称'}]"
         data-show-index="false"
         data-title="选择供应商信息"
         data-type="competitor"
         data-url="supplierFindLov"
         id="supplierCode"
         lov-list="cityLov"
         ng-model="current.em"
         role="dialog"
    >
    </div>

    <div lov-list="proposalSupplierList" role="dialog" data-title="Proposal供应商" id="proposalSupplierLov"
         ng-model="current.proposalId"
         data-url="contractProposalVendorList"
         data-params='{"vendorCode":"{{info.vendorCode}}","effectiveStartTime":"{{info.startTime}}","effectiveEndTime":"{{info.endTime}}"}'
         data-checked-type="radio"
         data-callback="setProposalSupplierList"
         data-keys="{'key':'proposalId','value':'proposalOrder',name:'poposal合同号'}"
         data-auto-request='false'
         data-show-index="true"
         data-other-column="[
                                {'name':'版本号','key':'proposalVersion'},
                                {'name':'年度','key':'proposalYear'},
                                {'name':'供应商编号','key':'vendorCode'},
                                {'name':'供应商名称','key':'vendorName'}
                                ]"
         data-search-key="[
                            {'key':'proposalOrder','placeholder':'请输入poposal合同号'},
                            {'key':'vendorCode','placeholder':'供应商编码'},
                            {'key':'vendorName','placeholder':'供应商名称'}]"
         data-pagination="{'pageIndex':'1','pageRows':'5'}"
    >
    </div>
</div>
