<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>获选供应商通知邮件</title>
</head>
<body>
 <p>Dear Supplier:</p>
<p>感谢贵司一直以来对屈臣氏自有品牌的支持,很荣幸地通知贵司在屈臣氏<ins>XX项目</ins>中成为获选供应商,请即日起着手开展开发工作,并注意以下事项:</p>
<p><strong>1.&nbsp;&nbsp;测试要求:</strong></p>
<p>&nbsp;&nbsp;1)&nbsp;稳定性测试:我司即将开始对贵司报价中提供的感官测试样板进行稳定性测试,如需微调,贵司需邮件回复微调完成日期并写明调整原因(微调定义:仅指贵司出于产品稳定性、防腐性能等方面的考虑进行的调整,并不是对于卖点成分、产品肤感质地以及香精等的调整)对于膏霜类料体,为使测试结果更为准确,贵司提交样板时建议采用密闭性更好的容器.</p>
<p>&nbsp;&nbsp;2)兼容性测试:即日起,贵司提供给我司的包材兼容性测试样板,包材里的料体务必是中试时生产出的料体,不允许提供实验室打样.贵司每一次在提交稳定性测试样板及兼容性测试样板的同时,请填写附件中的稳定性及兼容性样板记录表格,以邮件形式发送给相关采购.</p>
<p><strong>2.&nbsp;&nbsp;采购订单简称(PO):</strong></p>
<p>&nbsp;&nbsp;PO将由屈臣氏集团各公司及关联公司(简称“屈臣氏成员公司”)下单,最终产品和包装规格因各地区情况可能有所不同,屈臣氏有权提出特殊包装要求.</p>
<p><strong>3.&nbsp;&nbsp;交货日期:</strong></p>
<p>&nbsp;&nbsp;供应商须按照采购订单规定的地点或屈臣氏指定的其他地点,在指定的日期内将货物送达屈臣氏.屈臣氏仓库交付不要求最低交货数量,若其他成员公司特殊要求除外;</p>
<p><strong>4.&nbsp;&nbsp;上市日期:XX年X月(以实际情况为准)</strong></p>
<p><strong>5.&nbsp;&nbsp;项目周期:两年(从项目上市日期开始计算)</strong></p>
<p><strong>6.&nbsp;&nbsp;付款方式:月结60天</strong></p>
<p><strong>7.&nbsp;&nbsp;交货数量:</strong></p>
<p>&nbsp;&nbsp;本通知函不做任何采购保证,不承诺采购订单数达到预估数量,不代表屈臣氏成员公司就最低订购数量达成协议.如果在任何一年内的订购数量超过了预估数量,供应商应本着诚信原则与屈臣氏成员公司进行讨论,审查并相应降低价格以提高竞争优势.</p>
<p><strong>8.&nbsp;&nbsp;库存/备货:</strong></p>
<p></p>&nbsp;&nbsp;供应商应确保其有足够的生产能力生产某些特定产品和所列清单中所有国家的预计产量.供应商有责任以最低备货量满足屈臣氏成员公司对成品和包材的预期需求,并与屈臣氏成员公司达成一致.屈臣氏不负责超出最低备货量的成品和包材的任何库存.
<p><strong>9.&nbsp;&nbsp;物流运输:</strong></p>
<p>&nbsp;&nbsp;屈臣氏对于供应商未满足送货数量或延迟送货有权收取违约金.供应商认同为了符合当地惯例,屈臣氏有权更改物流规则.</p>
<p><strong>10.&nbsp;&nbsp;工厂审核:如果需要,屈臣氏有权进行任何时候的突击验厂.</strong></p>
<p>&nbsp;&nbsp;附件:</p>
<p>&nbsp;&nbsp;1)产品规格书  2)报价确认函  3)稳定性兼容性样品记录表</p>
</body>
</html>