<div ng-controller="saafQuestionnairePublishStatusCtrl">

    <div class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <div>
            <!--------------------- 按钮--->
            <div class="bg-gray-white bt">
                <div class="bg-gray-white p5">
                    <div class="btn-group btn-group-xs ">
                        <button type="button" class="btn btn-primary" ng-click="fullWindow($event)"><i
                                class="fa fa-square-o"></i>数据全屏
                        </button>
                    </div>
                </div>
            </div>
            <!---------------------  / .按钮  --->
            <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
                <div class="nicescroll-height  bg-white " ng-nicescroll
                     nice-option="{cursorcolor: '#998279',cursorwidth:10}" data-des="此节点必需-滚动内容及指令">
                    <div style="padding:20px 30px;">
                        <div class="row">
                            <div class="form-group col-xs-4 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span
                                            class="w100">问卷标题：</span></label>
                                    <input type="text" class="form-control radius3" ng-model="headList[0].qnTitle" readonly>
                                </div>
                            </div>

                            <div class="form-group col-xs-4 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span class="w100">问卷类型：</span></label>
                                    <select class="form-control radius3" ng-model="headList[0].qnType" disabled>
                                        <option></option>
                                        <option saaf-select-lookupcode="VR_SURVEY_TYPE"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-4 col-md-12">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span
                                            class="w100">人员：</span></label>
                                    <div style="padding: 10px;border: 1px solid #ddd;">
                                        <span ng-repeat="item in qnPublishData[0].userList">{{item.userFullName}};</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="padding:20px;border: 1px dashed #ddd;">
                            <p class="text-center">
                                <strong style="font-size: 24px;">{{headList[0].qnTitle}}</strong>
                                <span style="font-size: 14px;padding-left: 10px;">{{headList[0].qnCode}}</span>
                            </p>
                            <p style="padding-top: 10px;padding-left: 10px;font-size: 16px;">{{headList[0].description}}</p>
                            <div class="lineListInfo" ng-repeat="item in lineList"
                                 ng-class="{'active':selectRow==$index}"
                                 ng-click="getSelectRow($index)">
                                <div>
                                    <p><span style="color:red;" ng-show="item.requireFlag=='Y'">*</span>
                                        Q{{$index+1}}：{{item.projectTitle}}</p>
                                    <!--不同题型不同的状态-->
                                    <p ng-show="item.projectType=='text'" ng-repeat="subItem in item.qnChoiceData">
                                        <!--输入框使用-->
                                        <input type="text" style="width: 500px;" class="form-control radius3"
                                               ng-model="subItem.qnChoiceContent">
                                    </p>
                                    <p ng-show="item.projectType=='single_selection'"
                                       ng-repeat="subItem in item.qnChoiceData">
                                        <!--单选框使用-->
                                        <input type="radio" name="{{item.qnLineId}}">
                                        {{subItem.qnChoice}}：{{subItem.qnChoiceContent}}
                                    </p>
                                    <p ng-show="item.projectType=='multi_selection'"
                                       ng-repeat="subItem in item.qnChoiceData">
                                        <!--复选框使用-->
                                        <input type="checkbox" name="{{item.qnLineId}}">
                                        {{subItem.qnChoice}}：{{subItem.qnChoiceContent}}
                                    </p>
                                    <p ng-show="item.projectType=='drop_down_list'">
                                        <!--下拉框使用-->
                                        <select class="form-control radius3" style="width: 500px;">
                                            <option ng-repeat="subItem in item.qnChoiceData"
                                                    value="{{subItem.qnChoiceContent}}">
                                                {{subItem.qnChoiceContent}}
                                            </option>
                                        </select>
                                    </p>
                                    <p ng-show="item.projectType=='single_selection_skip'" ng-repeat="subItem in item.qnChoiceData">
                                        <!--跳转使用-->
                                        <input type="radio" name="{{item.qnLineId}}">
                                        {{subItem.qnChoice}}：{{subItem.qnChoiceContent}}
                                    </p>
                                    <p ng-show="item.projectType=='single_selection_show'" ng-repeat="subItem in item.qnChoiceData">
                                        <!--显示使用-->
                                        <input type="radio" name="{{item.qnLineId}}">
                                        {{subItem.qnChoice}}：{{subItem.qnChoiceContent}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>