<div ng-controller="sealApplyFormCtrl" class="gridtable">
    <div class="data-table" id="processForm" data-api-post="saveSealUpdateSealApply"
         data-api-get="saveFindSealApplyDetailById" data-api-del="" data-api-update="updateSealApply">
        <div class="col-md-12 pt15 pb30">
            <h5 class="fontwB col-md-12"><span class="fa fa-cog mr15"></span>申请信息</h5>
            <div resp-change="" class="col-xs-6 col-md-4 col-lg-3" style="display: none"></div>
                <div search-list
                     data-col="4"
                     data-legend="[
                        {key:'deptName',label:'申请部门',readonly:true,required:true},
                        {key:'personName',label:'申请人',readonly:true,required:true},
                        {key:'positionName',label:'职位',readonly:true,type:'lov',readonly:true,target:'#positionByPersonModel',required:true,css:'readonly-white'},
                        {key:'billNo',label:'申请单号',readonly:true},
                        {key:'requestTime',label:'申请时间',type:'time',disabled:true},
                        {key:'statusStr',label:'状态',readonly:true},
                        {key:'sealType',label:'印章类型',type:'lookCode',lookCode:'OA_SEAL_TYPE',required:true},
                        {key:'sealNum',label:'盖章次数',required:true,validFormat:'number=2',maxlength:'20',placeholder:' '},
                        ]"
                     ng-model="formParams"
                ></div>
          <!--  <div class="form-group col-xs-6 col-md-4">
                <div class="input-group input-group-xs">
                    <label class="input-group-addon bn"><span
                            class="w100"><i class="red">*</i>印章类型</span></label>
                    <div lookup-code="OA_SEAL_TYPE" ng-model="formParams.sealType" name="sealType" required></div>
                </div>
            </div>
            <div class="form-group col-xs-6 col-md-4">
                <div class="input-group input-group-xs">
                    <label class="input-group-addon bn"><span
                            class="w100"><i class="red">*</i>盖章次数</span></label>
                    <input class="form-control" ng-model="formParams.sealNum" name="sealNum" number="2" required maxlength="20"/>
                </div>
            </div>-->
            <div class="form-group col-xs-6 col-md-12">
                <div class="input-group input-group-xs">
                    <label class="input-group-addon bn"><span
                            class="w100"><i class="red">*</i>申请原因</span></label>
                    <textarea class="form-control" rows="1" auto-textarea="" ng-model="formParams.applyDesc" placeholder="字数限制500" maxlength="500" required name="applyDesc" style="height: auto"></textarea>
                </div>
            </div>
            <div class="col-md-12 hook-normal">
                <div saaf-file="" data-label="<h5 class='fontwB'><span class='fa fa-cog mr15'></span>附件列表</h5>"
                     data-file-data="fileData.file"
                     data-file-filter='{{fileType}}'
                     data-view-only="fileViewOnly"
                ></div>
            </div>
        </div>
    </div>
</div>