<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT报价邀请邮件格式参考</title>
</head>
<body>
 <p>
    Dear Sir/ Madam:
</p>
<p>
    因公司业务发展,现需要对屈臣氏
    <ins style="color:#FF0000;"><strong>项目名称</strong></ins>
    项目邀请贵公司进行报价.报价要求见附件"
    <ins style="color:#FF0000;"><strong>项目名称</strong></ins>
    -报价邀请"(内附详细需求文档),
    必须按要求提供详细资料及证明文件,否则视为不满足对应项目.
</p>
<p>下面内容请一定要提供:</p>
<p><strong>1.除报价邀请文件需提交的"营业执照、组织机构代码证、国、地税证复印件" 还请提供:</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;a:税务登记证;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;b:公司资质证明,公司介绍等;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;c:发票要求:增值税发票及对应税率,如果不能提供,请提供特别说明;</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;d:公司简介.</strong></p>
<p><strong>2.所有报价文件应加盖公司公章（特别是报价页面）并扫描上传到系统指定的附件中.</strong></p>
<p><strong>3.报价资料和解决方案加盖骑缝章</strong></p>
<p><strong>4.所有需要盖章的都请一定要使用你们公司公章,其他章将视为无效.</strong></p>
<p>注意:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;1.请不要在此邮件直接回复电子报价及报价相关资料;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;2.报价资料和解决方案需要分开提供,在系统上分开上传到对应的报价资料和非报价资料中.</p>
<p>请在收到报价邀请文件后,用对应的帐号和密码（项目协调人会另行提供）登录到系统上,如果确认参与该项目报价,则点击"参与报价"按钮,如果放弃该项目报价邀请,则点击"不参与报价",以作回应</p>
<p><a style="color: #3aa2eb;" href="http://124.172.191.124:8080/equotation/">进入系统,请点击该链接</a></p>
<p><strong>重要提示！请妥善保管该系统的帐号及写码,保证报价文件扫描件与原件一致,承诺通过该账号提交报价文件的行为均视为其贵司的行为且对其具有约束力.</strong></p>
</body>
</html>