.c000 {
  color: #000;
}
.c333 {
  color: #333;
}
.c666 {
  color: #666;
}
.c999 {
  color: #999;
}
.cccc {
  color: #ccc;
}
.red {
  color: red;
}
.white {
  color: white;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f30 {
  font-size: 30px;
}
.f36 {
  font-size: 36px;
}
.f48 {
  font-size: 48px;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2em;
}
.lh50 {
  line-height: 50px;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none!important;
}
.no_unl * {
  text-decoration: none!important;
}
.through {
  text-decoration: line-through;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
*html .clearfix {
  height: 1%;
}
.Clearfix {
  display: block;
}
.vm {
  vertical-align: center;
}
.vd {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.abs-right {
  position: absolute;
  right: 0;
}
.abs-right-top {
  position: absolute;
  right: 0;
  top: 0;
}
.abs-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abs-left-top {
  position: absolute;
  left: 0;
  top: 0;
}
.abs-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
.zoom {
  zoom: 1;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.oh {
  overflow: hidden;
}
.ln {
  list-style-type: none;
}
input::-ms-clear {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.nowrap {
  white-space: nowrap;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow: hidden;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.w5p {
  width: 5%;
}
.w10p {
  width: 10%;
}
.w15p {
  width: 15%;
}
.w20p {
  width: 20%;
}
.w25p {
  width: 25%;
}
.w30p {
  width: 30%;
}
.w40p {
  width: 40%;
}
.w50p {
  width: 50%;
}
.w60p {
  width: 60%;
}
.w70p {
  width: 70%;
}
.w80p {
  width: 80%;
}
.w90p {
  width: 90%;
}
.w100p {
  width: 100%;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w25 {
  width: 25px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w110 {
  width: 110px;
}
.w120 {
  width: 120px;
}
.w130 {
  width: 130px;
}
.w140 {
  width: 140px;
}
.w150 {
  width: 150px;
}
.w180 {
  width: 185px;
}
.w200 {
  width: 200px;
}
.w220 {
  width: 220px;
}
.w230 {
  width: 230px;
}
.w250 {
  width: 250px;
}
.w260 {
  width: 260px;
}
.w280 {
  width: 280px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.w {
  width: 100%;
}
.h20p {
  height: 20%;
}
.h25p {
  height: 25%;
}
.h30p {
  height: 30%;
}
.h40p {
  height: 40%;
}
.h50p {
  height: 50%;
}
.h70p {
  height: 70%;
}
.h80p {
  height: 80%;
}
.h100p {
  height: 100%;
}
.h20 {
  height: 20px;
}
.h25 {
  height: 25px;
}
.h30 {
  height: 30px;
}
.h40 {
  height: 40px;
}
.h50 {
  height: 50px;
}
.h70 {
  height: 70px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h120 {
  height: 120px;
}
.h150 {
  height: 150px;
}
.h200 {
  height: 200px;
}
.h220 {
  height: 220px;
}
.h250 {
  height: 250px;
}
.h275 {
  height: 275px;
}
.h350 {
  height: 350px;
}
.h500 {
  height: 500px;
}
.h {
  height: 100%;
}
.m0 {
  margin: 0;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.m30 {
  margin: 30px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt70 {
  margin-top: 70px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml90 {
  margin-left: 90px;
}
.ml100 {
  margin-left: 100px;
}
.ml150 {
  margin-left: 150px;
}
.ml158 {
  margin-left: 158px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr50 {
  margin-right: 50px;
}
.mr90 {
  margin-right: 90px;
}
.mr100 {
  margin-right: 100px;
}
.p0 {
  padding: 0 !important;
}
.p5 {
  padding: 5px ;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
.z-index-1 {
  z-index: 1 !important;
}
.z-index-10 {
  z-index: 10 !important;
}
.z-index-100 {
  z-index: 100 !important;
}
.z-index-1000 {
  z-index: 1000 !important;
}
.cursor {
  cursor: pointer;
}
.bg-green {
  background-color: green;
}
.bg-cycle {
  background-color: #01b987;
}
.bg-brown {
  background-color: #dd9c04;
}
.bg-skyblue {
  background-color: #08a1b1;
}
.border-red {
  border-color: #ff0000 !important;
}
form.isInvalid input.ng-invalid,
form.isInvalid select.ng-invalid,
form.isInvalid textarea.ng-invalid {
  border: 1px solid #ff0000 !important;
}
