<div ng-controller="equPonStandardsEditCtrl" class="bigdata">
    <div id="processForm"
         data-api-post="savePonStandards"
         data-api-get="findPonStandardsDatail"
         data-api-update="savePonStandards">
    </div>
    <div>
        <!--------------------- 按钮--->
        <div class="bg-gray-white p5">
            <div class=" pull-right ml10">

                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" permission-btn="btnSave" data-validate-form="userForm"></button>
                </div>
            </div>
            <div class="btn-group btn-group-xs ">
                <button class="btn btn-primary" ng-click="fullWindow($event)"><i class="fa fa-square-o"></i>{{$l('数据全屏')}}
                </button>
            </div>
        </div>
        <!---------------------  / .按钮  --->
        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
            <div class="nicescroll-height  bg-white " ng-nicescroll
                 nice-option="{{niceOpction}}"
                 data-des="此节点必需-滚动内容及指令">

                <!--------------------- 输入表单  --->

                <!--工作流集成添加TAB-->
                <ul ng-if="!urlParams.businessKey" class="nav nav-tabs mt10">
                    <li role="presentation" class="active" ng-click="tabChange('requestFundsBusiness')">
                        <a href="#requestFundsBusiness" aria-controls="requestFundsBusiness" role="tab"
                           data-toggle="tab">{{$l('业务表单')}}</a>
                    </li>
                    <li role="presentation" ng-click="tabChange('approvalHistory')">
                        <a href="#approvalHistory" aria-controls="approvalHistory" role="tab" data-toggle="tab">{{$l('审批历史')}}</a>
                    </li>
                    <li role="presentation" ng-click="tabChange('opinion')">
                        <a href="#opinion" aria-controls="opinion" role="tab" data-toggle="tab">{{$l('流程图')}}</a>
                    </li>
                    <li ng-show="tabAction=='opinion'">
                        <ul>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #cc0033;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{$l('未接收')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #ff6600;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{$l('办理中')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #339933;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{$l('已办结')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #666666;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{$l('预设步骤')}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div ng-show="tabAction== 'requestFundsBusiness'" role="tabpanel" class="tab-pane active"
                     id="requestFundsBusiness"
                     style="border: 0;width:100%;height: 100%;overflow-y: auto;">
                    <div class=" mt10 pb5  oh"
                         data-des="此节点必需－用于识别输入表单的指令">
                        <form id="userForm" name="userForm" ng-submit="save()">
                            <header class="col-xs-12 mb10">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span>{{$l('供应商评分标准')}}</span>
                                <div class="pull-right ml10">
                                    <div class="btn-group btn-group-xs ">
                                        <button class="btn btn-default" ng-if="saveFlag" type="submit"
                                                ng-click="updateAction('save')">
                                            <i class="fa fa-search" aria-hidden="true"></i>{{$l('保存')}}
                                        </button>
                                        <button class="btn btn-default" type="button" ng-if="submitFlag"
                                                ng-click="btnSubmit1()">
                                            <i class="fa fa-undo" aria-hidden="true"></i>{{$l('提交')}}
                                        </button>
                                        <!--&lt;!&ndash;<button class="btn btn-default" ng-if = "submitFlag" type="submit" ng-click="updateAction('submit')">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="fa fa-undo" aria-hidden="true"></i>提交&ndash;&gt;-->
                                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                        <!--<button class="btn btn-default" ng-if="approveFlag" type="submit"-->
                                                <!--ng-click="updateAction('approve')">-->
                                            <!--<i class="fa fa-search" aria-hidden="true"></i>审批-->
                                        <!--</button>-->
                                        <!--<button class="btn btn-default" ng-if="rejectFlag" type="submit"-->
                                                <!--ng-click="updateAction('reject')">-->
                                            <!--<i class="fa fa-search" aria-hidden="true"></i>驳回-->
                                        <!--</button>-->
                                        <!--<button class="btn btn-default" ng-if = "cancelFlag" type="submit" ng-click="updateAction('cancel')">-->
                                        <!--<i class="fa fa-undo" aria-hidden="true"></i>取消-->
                                        <!--</button>-->
                                    </div>
                                    <!--<div class="btn-group btn-group-xs "    permission-buttons="btnNew,btnModify"></div>-->
                                </div>
                            </header>

                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span
                                            class="w100"><i class="red">*</i>{{$l('评分标准名称')}}</span></label>
                                    <input type="text" class="form-control radius3" ng-disabled="!editFlag"
                                           ng-model="params.standardsName">
                                </div>
                            </div>

                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span
                                            class="w100">{{$l('评分标准单号')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled
                                           ng-model="params.standardsCode">
                                </div>
                            </div>

                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span
                                            class="w100">{{$l('单据状态')}}</span></label>
                                    <select class="form-control input-xs" ng-model="params.standardsStatus" disabled>
                                        <option saaf-select-lookupcode="EDU_PON_STANDARD_STATUS"></option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span class="w100">{{$l('创建时间')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled
                                           ng-model="params.creationDate">
                                </div>
                            </div>
                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span class="w100">{{$l('创建人')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled
                                           ng-model="params.createdByName">
                                </div>
                            </div>
                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span class="w100">{{$l('部门')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled ng-model="param.deptName">
                                </div>
                            </div>


                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn">
                                        <span class="w100">{{$l('复制评分标准')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled
                                           ng-model="params.copyStandardsCode"/>
                                    <span class="input-group-btn ng-scope">
                                <button class="btn btn-default" ng-click="getStandardsLov('copy')" ng-if="saveFlag"
                                        type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                            </div>

                            <div class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn">
                                        <span class="w100">{{$l('替代评分标准')}}</span></label>
                                    <input type="text" class="form-control radius3" disabled
                                           ng-model="params.parentStandardsCode"/>
                                    <span class="input-group-btn ng-scope">
                                <button class="btn btn-default" ng-click="getStandardsLov('parent')" ng-if="saveFlag"
                                        type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                            </div>

                            <div  ng-if="param.deptName == 'IT'" class="form-group col-xs-3 col-md-3">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn">
                                        <span class="w100">{{$l('是否一次性')}}</span></label>
                                    <input ng-disabled="!saveFlag"

                                           type="checkbox" ng-false-value="'N'" ng-true-value="'Y'"
                                           ng-model="params.isDisposable"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-3 col-md-3" ng-if="param.deptName =='IT'">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn">
                                        <span class="w100"><i class="red">*</i>{{$l('总分')}}</span></label>
                                    <input type="text" class="form-control radius3"  ng-disabled="!saveFlag"
                                           ng-model="params.score"/>
                                    <span class="input-group-btn ng-scope">
                            </span>
                                </div>
                            </div>

                            <div class="form-group col-xs-10 col-md-10">
                                <div class="input-group input-group-xs">
                                    <label class="input-group-addon bn"><span class="w100">{{$l('备注说明')}}</span></label>
                                    <textarea rows="2" cols="171" ng-disabled="!editFlag"
                                              ng-model="params.mark"></textarea>
                                </div>
                            </div>
                            <!--<div class="form-group col-xs-10 col-md-10">-->
                                <!--<div class="input-group input-group-xs">-->
                                    <!--<label class="input-group-addon bn"><span class="w100">驳回原因</span></label>-->
                                    <!--<textarea rows="2" cols="171" ng-disabled="params.supRecoverStatus!='20'"-->
                                              <!--ng-model="params.rejectReason"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->
                        </form>
                    </div>
                    <div class="form-group col-xs-12 col-md-12">
                        <!--<button class="btn btn-default" ng-if="saveFlag && param.deptName != 'IT'"-->
                                <!--ng-click="addL('save')">-->
                            <!--<i class="fa fa-search" aria-hidden="true"></i>新增-->
                        <!--</button>-->
                        <div class="data-table" ng-show="param.deptName != 'IT'">
                            <table saaf-table="dataTable"
                                   class="table table-bordered table-hover table-condensed"
                                   data-url="findEquPosCreditAuditChangeL"
                                   data-params="params"
                                   data-checked-type="radio"
                                   data-auto-get-data="false"
                                   data-page-rows="10">
                                <thead class="bg-gray-white" style="background-color: #E2EFEF">
                                <tr class="text-center">
                                    <th>{{$l('评分分区')}}</th>
                                    <th>{{$l('要求')}}</th>
                                    <th ng-repeat="column in columns"><i class="red">*</i>{{column.column}}</th>
                                    <!--<th>操作</th>-->
                                </tr>
                                </thead>
                                <tbody ng-show="dataTable.data">
                                <tr class="text-center" ng-repeat="row in dataTable.data"
                                    ng-class="{'active':dataTable.data.selectRow==$index}"
                                    ng-click="dataTable.data.selectRow=$index;
                                        dataTable.data.selectRowData =row;">

                                    <!--评分分区-->
                                    <td>

                                        <div class="input-group input-group-xs">
                                        <span class="input-group-btn" style='white-space:pre;'>
                                                <!--<button class="btn btn-default"-->
                                                        <!--disabled-->
                                                        <!--type="button">-->
                                                 <!--{{row.lineNumber}}-->
                                                <!--</button>-->
                                            <button class="btn btn-default" type="button" disabled>
                                                <i class="fa " aria-hidden="true"></i>{{row.lineNumber}}
                                            </button>
                                            </span>
                                            <input type="text" class="form-control input-xs" required disabled
                                                   ng-model="row.gradingDivision">
                                            <!--<span class="input-group-btn">-->
                                                <!--<button class="btn btn-default"-->
                                                        <!--ng-click="add(row,$index)" ng-disabled="!saveFlag"-->
                                                        <!--type="button">-->
                                                    <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                                                <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </td> 
                                    <!--要求-->
                                    <td><input type="text" class="form-control input-xs"
                                               ng-disabled="!saveFlag" ng-model="row.requirement">
                                    </td>
                                    <!--权重-->
                                    <td ng-repeat="column in columns" style="background:#F0F0F0"><input type="text"
                                        class="form-control input-xs"
                                        required
                                        string-format
                                        ng-disabled="!saveFlag"
                                        ng-if="row.lineLv==column.lineLv"
                                        ng-model="row.weight">
                                    </td>
                                    <!--分数-->

                                    <!--删除-->
                                    <!--<td>-->
                                        <!--<button class="btn btn-success btn-xs" type="button" ng-if="saveFlag"-->
                                                <!--ng-click="deleteData(row,$index)"-->
                                        <!--&gt;<i class="fa fa-trash fa-lg"></i></button>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="data-table" ng-show="param.deptName == 'IT'">
                            <table saaf-table="dataTable"
                                   class="table table-bordered table-hover table-condensed"
                                   data-url="findEquPosCreditAuditChangeL"
                                   data-params="params"
                                   data-checked-type="radio"
                                   data-auto-get-data="false"
                                   data-page-rows="10">
                                <thead class="bg-gray-white" style="background-color: #E2EFEF">
                                <tr class="text-center">
                                    <th>{{$l('评分分区')}}</th>
                                    <th>{{$l('要求')}}</th>
                                    <th ng-repeat="column in columns"><i class="red">*</i>{{column.column}}</th>
                                    <th>{{$l('操作')}}</th>
                                </tr>
                                </thead>
                                <tbody ng-show="dataTable.data">
                                <tr class="text-center" ng-repeat="row in dataTable.data"
                                    ng-class="{'active':dataTable.data.selectRow==$index}"
                                    ng-click="dataTable.data.selectRow=$index;
                                        dataTable.data.selectRowData =row;">

                                    <!--评分分区-->
                                    <td>

                                        <div class="input-group input-group-xs">
                                        <span class="input-group-btn" style='white-space:pre;'>
                                                <!--<button class="btn btn-default"-->
                                                        <!--disabled-->
                                                        <!--type="button">-->
                                                 <!--{{row.lineNumber}}-->
                                                <!--</button>-->
                                            <button class="btn btn-default" type="button" disabled>
                                                <i class="fa fa-undo" aria-hidden="true"></i>{{row.lineNumber}}
                                            </button>
                                            </span>
                                            <input type="text" class="form-control input-xs" required
                                                   ng-disabled="!saveFlag" ng-model="row.gradingDivision">
                                            <span class="input-group-btn" ng-if="row.lineLv>=2"   >
                                                <button class="btn btn-default" disabled
                                                        ng-click="add(row,$index)" ng-disabled="!saveFlag"
                                                        type="button">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    </td>
                                    <!--要求-->
                                    <td><input type="text" class="form-control input-xs"
                                               ng-disabled="!saveFlag" ng-model="row.requirement">
                                    </td>
                                    </td>
                                    <!--权重-->
                                    <td ng-repeat="column in columns" style="background:#F0F0F0"><input type="text"
                                        class="form-control input-xs"
                                        required
                                        string-format
                                        ng-disabled="!saveFlag"
                                        ng-if="row.lineLv==column.lineLv"
                                        ng-model="row.weight">
                                    </td>
                                    <!--分数-->

                                    <!--删除-->
                                    <td>
                                        <button class="btn btn-success btn-xs" type="button" ng-if="saveFlag&&row.lineLv>2"
                                                ng-click="deleteData(row,$index)"
                                        ><i class="fa fa-trash fa-lg"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-show="tabAction== 'approvalHistory'" role="tabpanel" class="tab-pane"
                     id="approvalHistory"
                     style="border: 0;width:100%;height: 100%;overflow-y: auto;">
                    <div class="pl15 pr15 pr">
                        <h5><span class="fa  fa-pencil-square-o"></span>{{$l('审批历史')}}</h5>
                        <div base-data-table="taskTable" id="taskTable"
                             data-url="processFindHistoricActivities"
                             data-page-size="20"
                             data-onload="historicListLoad"
                             data-auto-request="true"
                             ng-params="processInstanceParams"
                             data-legend='[{"value": "taskName","name": "节点名称",style:"width:10%"},
                                 {"value": "userFullName","name": "处理人",style:"width:16%;"},
                                 {"value": "his_detail_option","name": "处理结果",style:"width:8%;"},
                                 {"value": "his_detail_opinion","name": "审批意见",nowrap:false,"maxWidth":"700px"},
                                 {"value": "startTime","name": "审批开始时间",style:"width:136px;"},
                                 {"value": "endTime","name": "审批结束时间",style:"width:136px;"}]'>
                        </div>
                    </div>
                </div>

                <div ng-if="!urlParams.businessKey" ng-show="tabAction== 'opinion'" role="tabpanel"
                     class="tab-pane "
                     id="opinion"
                     style="border: 0;width:100%;height: 100%; overflow: hidden;position: relative;">
                    <div id="processImg" style="width: 100%;height:100%; overflow: auto;">{{$l('流程图加载中，请稍候...')}}</div>
                </div>
            </div>
            <div lov-list="cityLov" role="dialog" data-title="评分标准信息" id="standardsLov" ng-model="current.em"
                 data-url="findPonStandardsInfo"
                 data-dynamic-params=''
                 data-callback="selectStandardsLov"
                 data-auto-request="false"
                 data-params={{param}}
                 data-return-type="key"
                 data-pagination="{'pageIndex':'1','pageRows':'5'}"
                 data-checked-type="radio"
                 data-keys="{'key':'standardsCode','value':'standardsCode','name':'评分标准单号'}"
                 data-show-index="false"
                 data-type="competitor"
                 data-other-column="[{'name':'评分标准名称','key':'standardsName'},{'name':'单据状态','key':'standardsStatusName'}
             ,{'name':'创建时间','key':'creationDate'},{'name':'创建人','key':'createdByName'}]"
                 data-search-key="[{'key':'standardsName','placeholder':'评分标准名称'},
                          {'key':'standardsCode','placeholder':'评分标准单号'}]"
            >
            </div>
            </form>
        </div>
    </div>
</div>