<div ng-controller="equPosCreditAuditEditCtrl" class="bigdata">
    <div>
        <!--------------------- 按钮--->
        <div id="processForm"
             data-api-post="saveEquPosCreditAudit"
             data-api-get="findSupCreditAuditDatail"
             data-api-update="saveEquPosCreditAudit">
        </div>
        <!---------------------  / .按钮  --->
        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
            <div class="nicescroll-height  bg-white " ng-nicescroll
                 nice-option="{{niceOpction}}"
                 data-des="此节点必需-滚动内容及指令">

                <!--------------------- 输入表单  --->

                <!--工作流集成添加TAB-->
                <ul ng-if="!urlParams.businessKey" class="nav nav-tabs mt10">
                    <li role="presentation" class="active" ng-click="tabChange('requestFundsBusiness')">
                        <a href="#requestFundsBusiness" aria-controls="requestFundsBusiness" role="tab"
                           data-toggle="tab">{{ $l('业务表单')}}</a>
                    </li>
                    <li role="presentation" ng-click="tabChange('approvalHistory')">
                        <a href="#approvalHistory" aria-controls="approvalHistory" role="tab" data-toggle="tab">{{ $l('审批历史')}}</a>
                    </li>
                    <li role="presentation" ng-click="tabChange('opinion')">
                        <a href="#opinion" aria-controls="opinion" role="tab" data-toggle="tab">{{ $l('流程图')}}</a>
                    </li>
                    <li ng-show="tabAction=='opinion'">
                        <ul>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #cc0033;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{ $l('未接收')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #ff6600;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{ $l('办理中')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #339933;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{ $l('已办结')}}</span>
                            </li>
                            <li style="list-style-type: square;float: left;font-size: 20px;color: #666666;margin-right: 30px;text-indent: -7px;">
                                <span style="font-size: 14px;">{{ $l('预设步骤')}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class=" mt10 pb5  oh" ng-show="tabAction== 'requestFundsBusiness'"
                     data-des="此节点必需－用于识别输入表单的指令">

                    <form id="userForm" name="userForm">
                        <header class="col-xs-12 mb10">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <span>{{ $l('信用审核详情')}}</span>
                            <div class="pull-right ml10">
                                <div class="btn-group btn-group-xs ">
                                    <button class="btn btn-default" ng-click="save('save')" ng-if="saveFlag"
                                            type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>{{ $l('保存')}}
                                    </button>
                                    <button class="btn btn-default" ng-if="submitFlag" type="button"
                                            ng-click="btnSubmit('submit')">
                                        <i class="fa fa-undo" aria-hidden="true"></i>{{ $l('提交')}}
                                    </button>
                                    <!--<button class="btn btn-default" ng-if="approveFlag" type="button"-->
                                    <!--ng-click="save('approve')">-->
                                    <!--<i class="fa fa-search" aria-hidden="true"></i>审批-->
                                    <!--</button>-->
                                    <!--<button class="btn btn-default" ng-if="rejectFlag" type="button"-->
                                    <!--ng-click="save('reject')">-->
                                    <!--<i class="fa fa-search" aria-hidden="true"></i>驳回-->
                                    <!--</button>-->
                                    <button class="btn btn-default" ng-if="cancelFlag" type="button"
                                            ng-click="save('cancel')">
                                        <i class="fa fa-undo" aria-hidden="true"></i>{{ $l('取消')}}
                                    </button>
                                </div>
                                <!--<div class="btn-group btn-group-xs "    permission-buttons="btnNew,btnModify"></div>-->
                            </div>
                        </header>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100"><i class="red">*</i>{{ $l('业务类型')}} </span></label>
                                <select class="form-control input-xs" ng-model="params.supCreditAuditType"
                                        ng-disabled="!saveFlag">
                                    <option ng-hide="data.lookupCode>'40'"
                                            saaf-select-lookupcode="EQU_SUPPLIER_SCENE_TYPE"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn">
                                    <span class="w100">{{ $l('供应商名称')}} </span></label>
                                <input type="text" class="form-control radius3" disabled
                                       ng-model="params.supplierName"/>
                                <span class="input-group-btn ng-scope">
                            </span>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn">
                                    <span class="w100"><i class="red">*</i>{{ $l('资质审核单号')}} </span></label>
                                <input type="text" class="form-control radius3" disabled required
                                       ng-model="params.qualificationCode"/>
                                <span class="input-group-btn ng-scope">
                                <button class="btn btn-default" ng-click="getQualificationCode()"
                                        ng-disabled="!saveFlag" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100"><i class="red">*</i>{{ $l('信用审核分数')}} </span></label>
                                <select class="form-control input-xs" ng-model="params.creditAuditScore"
                                        ng-change="changeScore()" ng-disabled="!saveFlag">
                                    <option saaf-select-lookupcode="EQU_CREDIT_AUDIT_SCORE"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('单据编号')}} </span></label>
                                <input type="text" class="form-control radius3" disabled
                                       ng-model="params.supCreditAuditCode">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('单据状态')}} </span></label>
                                <select class="form-control input-xs" ng-model="params.supCreditAuditStatus" disabled>
                                    <option saaf-select-lookupcode="EDU_SUP_SUSPEND_STATUS"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('供应商档案')}} </span></label>
                                <input type="text" class="form-control radius3" disabled
                                       ng-model="params.supplierNumber">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('供应商状态')}} </span></label>
                                <select class="form-control input-xs" ng-model="params.supplierStatus" disabled>
                                    <option saaf-select-lookupcode="EQU_SUPPLIER_STATUS"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('创建时间')}} </span></label>
                                <input type="text" class="form-control radius3" disabled
                                       ng-model="params.creationDate">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('创建人')}} </span></label>
                                <input type="text" class="form-control radius3" disabled
                                       ng-model="params.createdByName">
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100">{{ $l('信用审核结果')}} </span></label>
                                <select class="form-control input-xs" ng-model="params.creditAuditResule" disabled>
                                    <option></option>
                                    <option saaf-select-lookupcode="EQU_CREDIT_AUDIT_RESULT"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100">{{ $l('附件')}} </span></label>
                                <input type="file" name="file" ng-if="params.fileId==null" id="file"
                                       ng-disabled="!saveFlag"
                                       onchange="angular.element(this).scope().uploadFile()"
                                       emms-file-upload="myFile">
                                <span class="input-group-addon bn" ng-if="params.fileId!=null"
                                      style="width: 230px;text-align: left;height:23px;display:inline-block;">
                                    <a class="ellipsis" style="color:blue;display: block;width: 220px;"
                                       href="{{params.filePath}}"
                                       target="_blank">{{params.fileName}}
                                    </a>
                                </span>
                                <span type="button" ng-click="changeFile()" ng-if="params.fileId!=null&&saveFlag"
                                      class="btn btn-primary btn-xs">
                                    <i class="fa fa-plus">{{ $l('重新上传')}}</i>
                                </span>
                            </div>
                        </div>


                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100"><i class="red">*</i>{{ $l('有效期限')}} </span></label>
                                <input type="text" date-time-picker
                                       data-date-format="yyyy-mm-dd"
                                       data-min-View="2"
                                       class="form-control radius3" ng-disabled="!saveFlag"
                                       ng-model="params.validityPeriodDate">
                            </div>
                        </div>


                        <div class="form-group col-xs-12 col-md-12"></div>
                        <div class="form-group col-xs-4 col-md-4">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('是否特批')}} </span></label>
                                <!--<label class="radio-inline"  ng-click="changeIsSpecial('Y')">-->
                                <input type="radio" name="isEffective" value="1" ng-click="changeIsSpecial('Y')"
                                       ng-model="params.isSpecial" ng-disabled="!scoreFlag"
                                       ng-checked="params.isSpecial=='Y'">{{ $l('是')}}
                                <!--</label>-->
                                <!--<label class="radio-inline" ng-click="changeIsSpecial('N')">-->
                                <input type="radio" name="isEffective" value="0" ng-click="changeIsSpecial('N')"
                                       ng-model="params.isSpecial" ng-disabled="!scoreFlag"
                                       ng-checked="params.isSpecial=='N'">{{ $l('否')}}
                                <!--</label>-->
                            </div>
                        </div>

                        <!--<div class="form-group col-xs-4 col-md-4">-->
                        <!--<div class="input-group input-group-xs">-->
                        <!--<label class="input-group-addon bn"><span class="w100">是否特批：</span></label>-->
                        <!--<input type="radio" name="isEffective" value="1" ng-click="changeIsSpecial('Y')" ng-model="params.isSpecial" ng-disabled="!scoreFlag||!saveFlag"-->
                        <!--ng-checked="params.isSpecial=='Y'">是-->

                        <!--<input type="radio" name="isEffective" value="0" ng-click="changeIsSpecial('N')" ng-model="params.isSpecial" ng-disabled="!scoreFlag||!saveFlag"-->
                        <!--ng-checked="params.isSpecial=='N'">否-->

                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group col-xs-12 col-md-12"></div>
                        <div class="form-group col-xs-4 col-md-4" ng-if="params.isSpecial=='Y'">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100">{{ $l('特批结果')}}</span></label>
                                <select class="form-control input-xs" ng-model="params.specialResults"
                                        ng-disabled="!saveFlag">
                                    <option saaf-select-lookupcode="EQU_CREDIT_AUDIT_RESULT"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-4 col-md-4" ng-if="params.isSpecial=='Y'">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span
                                        class="w100">{{ $l('特批附件')}} </span></label>
                                <input type="file" name="file" ng-if="params.specialFileId==null" id="specialFile"
                                       ng-disabled="!saveFlag"
                                       onchange="angular.element(this).scope().uploadSpecialFile()"
                                       emms-file-upload="mySpecialFile">
                                <span class="input-group-addon bn" ng-if="params.specialFileId!=null"
                                      style="width: 230px;text-align: left;height:23px;display:inline-block;">
                                    <a class="ellipsis" style="color:blue;display: block;width: 220px;"
                                       href="{{params.specialFilePath}}"
                                       target="_blank">{{params.specialFileName}}
                                    </a>
                                </span>
                                <span type="button" ng-click="changeSpecialFile()"
                                      ng-if="params.specialFileId!=null && saveFlag"
                                      class="btn btn-primary btn-xs">
                                    <i class="fa fa-plus">{{ $l('重新上传')}}</i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group col-xs-10 col-md-10">
                            <div class="input-group input-group-xs">
                                <label class="input-group-addon bn"><span class="w100">{{ $l('备注说明')}} </span></label>
                                <textarea rows="2" cols="171" ng-disabled="!saveFlag" ng-disabled="!saveFlag"
                                          ng-model="params.remark"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div ng-show="tabAction== 'approvalHistory'" role="tabpanel" class="tab-pane"
                     id="approvalHistory"
                     style="border: 0;width:100%;height: 100%;overflow-y: auto;">
                    <div class="pl15 pr15 pr">
                        <h5><span class="fa  fa-pencil-square-o"></span> {{ $l('审批历史')}}</h5>
                        <div base-data-table="taskTable" id="taskTable"
                             data-url="processFindHistoricActivities"
                             data-page-size="20"
                             data-onload="historicListLoad"
                             data-auto-request="true"
                             ng-params="processInstanceParams"
                             data-legend='[{"value": "taskName","name": "节点名称",style:"width:10%"},
                                 {"value": "userFullName","name": "处理人",style:"width:16%;"},
                                 {"value": "his_detail_option","name": "处理结果",style:"width:8%;"},
                                 {"value": "his_detail_opinion","name": "审批意见",nowrap:false,"maxWidth":"700px"},
                                 {"value": "startTime","name": "审批开始时间",style:"width:136px;"},
                                 {"value": "endTime","name": "审批结束时间",style:"width:136px;"}]'>
                        </div>
                    </div>
                </div>

                <div ng-if="!urlParams.businessKey" ng-show="tabAction== 'opinion'" role="tabpanel" class="tab-pane "
                     id="opinion"
                     style="border: 0;width:100%;height: 100%; overflow: hidden;position: relative;">
                    <div id="processImg" style="width: 100%;height:100%; overflow: auto;">流程图加载中，请稍候...</div>
                </div>
            </div>
        </div>


        <div lov-list="cityLov" role="dialog" data-title="选择供应商信息" id="supplierLov" ng-model="current.em"
             data-url="findSupplierLov"
             data-dynamic-params=''
             data-callback="selectSupplierLov"
             data-auto-request="false"
             data-params={{param}}
             data-return-type="key"
             data-pagination="{'pageIndex':'1','pageRows':'5'}"
             data-checked-type="radio"
             data-keys="{'key':'supplierNumber','value':'supplierNumber','name':'供应商档案'}"
             data-show-index="false"
             data-type="competitor"
             data-other-column="[{'name':'供应商名称','key':'supplierName'}]"
             data-search-key="[{'key':'supplierNumber','placeholder':'供应商档案'},
                          {'key':'supplierName','placeholder':'供应商名称'}]"
        >
        </div>

        <div lov-list="cityLov" role="dialog" data-title="选择供应商资质" id="qualificationLov" ng-model="current.em"
             data-url="findQualificationAuditLov"
             data-dynamic-params=''
             data-params={{params}}
             data-callback="selectQualificationLov"
             data-auto-request="false"
             data-return-type="key"
             data-pagination="{'pageIndex':'1','pageRows':'5'}"
             data-checked-type="radio"
             data-keys="{'key':'qualificationNumber','value':'qualificationNumber','name':'资质审查单据号'}"
             data-show-index="false"
             data-type="competitor"
             data-other-column="[{'name':'供应商名称','key':'supplierName'}
             ,{'name':'业务类型','key':'sceneTypeName'}
             ,{'name':'单据状态','key':'statusName'}
             ,{'name':'创建人','key':'userName'}
             ,{'name':'创建时间','key':'creationDate'}]"
             data-search-key="[{'key':'qualificationNumber','placeholder':'资质审查单据号'},
                          {'key':'supplierNames','placeholder':'供应商名称'},
                          {'key':'supplierNumbers','placeholder':'供应商编号'}]"
        >
        </div>
        </form>
    </div>
</div>