<div ng-controller="processProductListCtrl" class="gridtable">
    <div class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <!--- 按钮-->
        <div class="bg-gray-white bt">
            <div class="bg-gray-white p5">
                <div class="pull-right ">

                    <div class="btn-group btn-group-xs ml10" permission-buttons="btnNew,btnDel,btnSave">

                        <button class="btn btn-default" type="button" ng-click="btnNew()"  >
                            <i class="fa fa-plus">{{ $l('新增')}}</i>
                        </button>
                        <button class="btn btn-default" type="button" ng-click="btnDel()"
                                ng-disabled="action!=='detail'">
                            <i class="fa fa-trash-o">{{ $l('删除')}}</i>
                        </button>
                        <button class="btn btn-default" type="button" ng-click="btnSave()"
                                validate-form-btn="roleContent" ng-disabled="!role">
                            <i class="fa fa-save" aria-hidden="true"></i>{{ $l('保存')}}
                        </button>
                    </div>

                </div>

                <div class="btn-group btn-group-xs  ">

                    <button type="button" class="btn btn-primary" ng-click="fullWindow($event)">
                        <i class="fa fa-square-o"></i>数据全屏
                    </button>
                </div>

            </div>
        </div>
        <!---------------------  / .按钮  -->
        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
            <div class="col-sm-3">
                <form ng-submit="roleListTable.search()">

                    <div class="nicescroll-height  bg-white " ng-nicescroll
                         nice-option="{cursorcolor: '#998279',cursorwidth:10}" data-des="此节点必需-滚动内容及指令">
                        <div class=" mt10 pb5 input-form bb oh" input-form data-des="此节点必需－用于识别输入表单的指令">
                            <div resp-change="" class="resp-change-left"></div>
                            <div class="input-group input-group-xs">

                                <input type="text" class="form-control radius3" ng-model="roleListParams.searchKey"
                                       placeholder="{{ $l('请输入名称') }}">
                                <span class="input-group-btn">
                                         <button class="btn btn-default" type="submit">
                                             <i class="fa fa-search" aria-hidden="true"></i>
                                         </button>
                                   </span>
                            </div>
                        </div>

                        <div class="data-table text-center">
                            <div base-data-table="roleListTable"
                                 data-url="FindProductProcessList" data-show-index='false'
                                 data-click-row="clickRoleListRow"
                                 ng-params="roleListParams"
                                  data-onload='loadData'
                                 data-delete-url="processRoleDelete"
                                 data-keys="{'key':'Id',asKey:'Id'}"
                                 data-legend='[
                            {"value": "name","name": "节点名称"}]'>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-9" ng-show="role">
                <form name="roleContent">
                    <div class="nicescroll-height  bg-white " ng-nicescroll
                         nice-option="{cursorcolor: '#998279',cursorwidth:10}" data-des="此节点必需-滚动内容及指令">
                        <div class="pl30 pr30 pt30">
                            <div class="row">
                                <div class="form-group col col-xs-11 col-md-6">
                                    <div class="input-group input-group-xs">
                                        <label class="input-group-addon bn w100"><span
                                                class=""><i class="red">*</i>{{$l('用户名称')}}：</span></label>
                                        <input type="text" class="form-control radius3"
                                               max-length="10"
                                               name="role_roleName"
                                               ng-model="myProcessParams.userFullName">
                                               
                                         <span class="input-group-btn">
                                         <button class="btn btn-default" type="submit" ng-click="RoleProcessTable.search()">
                                             <i class="fa fa-search" aria-hidden="true"></i>
                                         </button>
                                   </span>
                                    </div>
                                    
                                   
                                </div>        
                            </div>
                            
                            <div class="row" ng-show="action === 'detail'">
                                <div base-data-table="RoleProcessTable" id="RoleProcessTable"
                                     data-url="userFind" data-show-index='true'
                                     ng-params="myProcessParams"
                                     data-checked-type="checkbox"
                                     data-keys="{'key':'userId'}"
                                     data-auto-request="false"
                                     data-onload='loadData1'
                                     data-legend='[
                             {value:"userId", name:"用户Id"},
                             {"value": "userName","name": "用户账号"},
                            {"value": "userFullName","name": "用户名称"},
                            {"value": "groupCode","name": "用户组"}
      
                            ]'>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                               
                		<footer style="text-align: center;margin-top: 30px;">
							<button class="btn btn-primary"  ng-click="btnSave()">保存</button>
						</footer>
            </div>

        </div>
    </div>
    <div lov-list="lovUserFind" id="lovUserFind" data-url="processFindInternalUsers" ng-model="current.userFind" data-title="操作人"
         data-checked-type="checkbox"
         data-return-key="role.handlerExpression"
         data-search-key="[{'key':'userFullName','placeholder':'请输入员工姓名'},{'key':'userName','placeholder':'请输入员工账号'}]"
         data-keys="{'key':'userName','value':'userName','name':'账号'}"
         data-other-column="[{key:'userFullName',name:'员工姓名'}]"
    ></div>
</div>