<div ng-controller="equPonQuotationApprovalCtrls" class="gridtable">
    <form class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <!--------------------- 按钮--->
        <div class="bg-gray-white bt">
            <div class="bg-gray-white p5">
                <div class="pull-right ml10">
                    <div class="btn-group btn-group-xs ">
                        <button class="btn btn-default" type="button" ng-click="dataTable.getData()">
                            <i class="fa fa-search" aria-hidden="true"></i>{{ $l('搜索')}}
                        </button>
                        <button class="btn btn-default" type="button" ng-click="dataTable.restore()">
                            <i class="fa fa-undo" aria-hidden="true"></i>{{ $l('重置')}}
                        </button>
                        <button class="btn btn-default" type="button" ng-click="add()">
                            <i class="fa fa-search" aria-hidden="true"></i>{{ $l('新增')}}
                        </button>
                    </div>
                    <!--<div class="btn-group btn-group-xs " permission-buttons="btnNew,btnModify"></div>-->
                </div>

                <div class="btn-group btn-group-xs ">
                    <button type="button" class="btn btn-primary" ng-click="fullWindow($event)"><i
                            class="fa fa-square-o"></i>{{ $l('数据全屏')}}
                    </button>
                </div>
            </div>
        </div>
        <!---------------------  / .按钮  --->
        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
            <div class="nicescroll-height  bg-white " ng-nicescroll
                 nice-option="{{niceOpction}}" data-des="此节点必需-滚动内容及指令">
                <!--------------------- 输入表单  --->
                <div class=" mt10 pb5 input-form bb oh" input-form data-des="此节点必需－用于识别输入表单的指令">

                    <!-- 搜索输入框组-->


                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">{{ $l('项目名称')}}</span></label>
                            <input type="text" class="form-control radius3"
                                   ng-model="params.projectName"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">{{ $l('报价结果审批单号')}}</span></label>
                            <input type="text" class="form-control radius3"
                                   ng-model="params.approvalNumber"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">{{ $l('单据状态')}}</span></label>
                            <select class="form-control radius3"
                                    ng-model="params.approvalStatus">
                                <option></option>
                                <option saaf-select-lookupcode=" EQU_PON_QUOTATION_STATUS"></option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">{{ $l('单据类型')}}</span></label>

                            <select class="form-control radius3"
                                    ng-model="params.orderType">
                                <option></option>
                                <option saaf-select-lookupcode="  EQU_PON_ORDER_TYPE"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">{{ $l('审批类型')}}</span></label>
                            <select class="form-control radius3"
                                    ng-model="params.approvalType">
                                <option></option>
                                <option saaf-select-lookupcode=" EQU_PON_APPROVE_TYPE"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">{{ $l('创建时间从')}}</span></label>
                            <input type="text" class="form-control radius3"
                                   date-time-picker data-date-format="yyyy-mm-dd"
                                   data-enddate="{{params.creationDateTo}}"
                                   data-min-View="2" placeholder="" ng-model="params.creationDateFrom">
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span
                                    class="w100">{{ $l('创建时间至')}}</span></label>
                            <input type="text" class="form-control radius3"
                                   date-time-picker data-date-format="yyyy-mm-dd"
                                   data-startDate="{{params.creationDateFrom}}"
                                   data-min-View="2" placeholder="" ng-model="params.creationDateTo"
                            >
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">{{ $l('部门')}}</span></label>
                            <input type="text" class="form-control radius3" disabled
                                   ng-model="param.deptName"/>
                        </div>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn"><span class="w100">{{ $l('项目负责人')}}</span></label>
                            <input type="text" class="form-control radius3" disabled
                                   ng-model="params.userFullName"/>
                        </div>
                    </div>
                </div>


                <div class="data-table">
                    <table saaf-table="dataTable"
                           class="table table-bordered table-hover table-condensed"
                           data-url="findPonQuotationApproval"
                           data-params="params"
                           data-checked-type="radio"
                           data-auto-get-data="true"
                           data-page-rows="10">
                        <thead class="bg-gray-white" style="background-color: #E2EFEF">
                        <tr class="text-center">
                            <th>{{ $l('序号')}}</th>
                            <th>{{ $l('报价结果审批单号')}}</th>
                            <th>{{ $l('项目名称')}}</th>
                            <th>{{ $l('单据状态')}}</th>
                            <th>{{ $l('单据类型')}}</th>
                            <th>{{ $l('审批类型')}}</th>
                            <th>{{ $l('创建时间')}}</th>
                            <th>{{ $l('项目负责人')}}</th>
                            <th>{{ $l('操作')}}</th>
                        </tr>
                        </thead>
                        <tbody ng-show="dataTable.data">
                        <tr class="text-center" ng-repeat="row in dataTable.data"
                            ng-class="{'active':dataTable.data.selectRow==$index}"
                            ng-click="dataTable.data.selectRow=$index;
                                        dataTable.data.selectRowData =row;">

                            <td ng-bind="$index+1" class="w50">1</td>
                            <td><a ng-click="edit(row)">{{row.approvalNumber}}</a></td>
                            <td>{{row.projectName}}</td>
                            <td><select class="form-control input-xs" disabled
                                        ng-model="row.approvalStatus">
                                <option saaf-select-lookupcode=" EQU_PON_APPROVAL_STATUS"></option>
                                </select>
                            </td>
                            <td><select class="form-control input-xs" disabled
                                        ng-model="row.orderType">
                                <option saaf-select-lookupcode=" EQU_PON_ORDER_TYPE"></option>
                            </select></td>
                            <td>
                                <select class="form-control input-xs" disabled
                                        ng-model="row.approvalType">
                                    <option saaf-select-lookupcode=" EQU_PON_APPROVE_TYPE"></option>
                                </select>
                            </td>
                            <td>{{row.creationDate}}</td>
                            <td>{{params.userFullName}}</td>
                            <td>
                                <button class="btn btn-success btn-xs" type="button"
                                        ng-if="row.approvalStatus =='10'||row.approvalStatus =='40'"
                                        ng-click="delrow(row,$index)"
                                ><i class="fa fa-trash fa-lg"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div saaf-table-tfoot="dataTable" ng-show="dataTable.data.length>0"></div>
                </div>
                <!--------------------- ./  数据　　↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑  --->
            </div>
        </div>
    </form>
</div>