<div ng-controller="roleCtrl" class="bigdata">
	<div class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
		<!--------------------- 按钮--->
		<div class="bg-gray-white p5">
			<div class=" pull-right ml10" id="outputButton">
				<div class="btn-group btn-group-xs">
					<div class="btn-group btn-group-xs ">
						<button class="btn btn-default" type="button" ng-click="dataTable.search(1)">
							<i class="fa fa-search" aria-hidden="true"></i>{{$l('搜索')}}
						</button>
						<button class="btn btn-default" type="button" ng-click="dataTable.restore('systemCode')">
							<i class="fa fa-undo" aria-hidden="true"></i>{{$l('重置')}}
						</button>
					</div>
				</div>
				<div class="btn-group btn-group-xs" permission-buttons="btnNew,btnModify,btnDel">

				</div>

				<!--	<div class="btn-group btn-group-xs">
						<button class="btn btn-default" ng-click="goto('菜单权限配置','systemsetting/menuFuncPrivilege')"><i
								class="fa fa-list"></i>分配菜单
						</button>
					</div>-->
			</div>
			<div class="btn-group btn-group-xs ">
				<button class="btn btn-primary" ng-click="fullWindow($event)"><i class="fa fa-square-o"></i>数据全屏
				</button>
			</div>
		</div>
		<!---------------------  / .按钮  --->
		<div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
			<div class="nicescroll-height  bg-white " ng-nicescroll
				 nice-option="{{niceOpction}}" data-des="此节点必需-滚动内容及指令">
				<!--------------------- 输入表单  --->
				<form class=" mt10 pb5  bb  " input-form data-des="此节点必需－用于识别输入表单的指令" ng-submit="dataTable.search(1)">

					<div search-form
						 data-legend="{{ legend }}"
						 ng-model="params"
					></div>


				</form>
				<!--------------------- ./  输入表单  --->
				<!--------------------- ./  数据　相关html代码，请写在这里面 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓　  --->
				<div base-data-table="dataTable"
					 ng-params="params"
					 data-show-index="true"
					 data-url="roleList"
					 data-legend="[
                             {'value':'roleName','name':'角色名称'},
                             {'value':'roleCode','name':'角色编号'},
                              {'value':'systemCode','name':'系统编码'},
                             {'value':'roleDesc','name':'角色描述'}
                             ]"
				></div>
				<!--------------------- ./  数据　　↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑  --->
			</div>
		</div>
	</div>


	<div class="modal fade" id="addRole" data-des="添加角色" data-backdrop="static" tabindex="-1">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						添加角色
					</h4>
				</div>
				<form c  name="funcMenuForm">
					<div class="modal-body">
						<div class="form-group col-xs-12 col-md-12">
							<div class="input-group input-group-xs">
								<label class="input-group-addon bn">
									<span class="w100"><i class="red">*</i>角色名称</span></label>
								<input type="text" class="form-control radius3" required
									   name="buttonUrl"
									   ng-model="addParams.roleName">

							</div>
						</div>
						<div class="form-group col-xs-12 col-md-12">
							<div class="input-group input-group-xs">
								<label class="input-group-addon bn">
									<span class="w100"><i class="red">*</i>角色编号</span></label>
								<input type="text" class="form-control radius3"
									   name="resourceDesc" required
									   ng-model="addParams.roleCode">
								<span class="input-group-btn">
									<button type="button" class="btn btn-warning" ng-click="toPinyin()">名称简拼</button>
								</span>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-12">
							<div class="input-group input-group-xs">
								<label class="input-group-addon bn">
									<span class="w100"><i class="red">*</i>系统编码</span></label>

								<div lookup-code="SYSTEM_CODE" name="addParamsSystemCode" ng-model="addParams.systemCode" id="addParamsSystemCode" required=""></div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-12">
							<div class="input-group input-group-xs">
								<label class="input-group-addon bn">
									<span class="w100">角色描述</span></label>
								<input type="text" class="form-control radius3"
									   name="resourceDesc"
									   ng-model="addParams.roleDesc">
							</div>
						</div>

						<div class="cb"></div>
					</div>

					<div class="modal-footer ">
						<div style="text-align:center">
							<button style="" type="button" class="btn btn-default" data-dismiss="modal">取消
							</button>
							<button type="submit" id="saveButton" validate-form-btn="funcMenuForm" ng-click="btnSave(funcMenuForm.$invalid)" class="btn btn-primary mr10">确定</button>
						</div>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>


</div>