<div ng-controller="clauseManageCtrl" class="gridtable">
    <div class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <div>
            <!--------------------- 按钮--->
            <div class="bg-gray-white bt">
                <div class="bg-gray-white p5">
                    <div class="pull-right">
                        <div class="btn-group btn-group-xs ">
                            <button class="btn btn-default" type="button" ng-click="params.respId=ctrlRespId;dataTable.search(1)">
                                <i class="fa fa-search" aria-hidden="true"></i>{{$l('搜索')}}
                            </button>
                            <button class="btn btn-default" type="button" ng-click="dataTable.restore()">
                                <i class="fa fa-undo" aria-hidden="true"></i>{{$l('重置')}}
                            </button>
                            <button type="button" permission-btn="btnCopy" data-toggle="modal" data-target="#selectDeptId"
                                    class="btn btn-default"  id="btnCopyBt">
                            </button>
                        </div>
                        <div class="btn-group btn-group-xs ml10" permission-buttons="btnNew,btnModify,btnExport"></div>
                    </div>

                    <div class="btn-group btn-group-xs ">
                        <button class="btn  btn-warning" ng-click="moreInput($event)">
                            <i class="fa fa-chevron-circle-down"></i>{{$l('高级查询')}}
                        </button>
                        <button class="btn btn-primary" ng-click="fullWindow($event)">
                            <i class="fa fa-square-o"></i>{{$l('数据全屏')}}
                        </button>
                    </div>
                </div>
            </div>
            <!---------------------  / .按钮  --->
            <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">
                <div class="nicescroll-height  bg-white " ng-nicescroll
                     nice-option="{{niceOpction}}" data-des="此节点必需-滚动内容及指令">
                    <!--------------------- 输入表单  --->
                    <form id="formArea" class=" mt10 pb5 input-form bb oh" ng-submit="params.respId=ctrlRespId;dataTable.search(1)" input-form
                          data-des="此节点必需－用于识别输入表单的指令">
                        <div resp-change="" class="col-xs-6 col-md-4 col-lg-3"></div>
                        <div search-form
                             data-legend="[
                                {key:'frameCode',label:'框架编码'},
                                {key:'billStatus',label:'单据状态',type:'lookCode',lookCode:'DS_STATUS'},
                             ]"
                             ng-model="params"
                        ></div>
                    </form>
                    <div class="data-table">
                        <div base-data-table="dataTable"
                             data-auto-request="false"
                             ng-params="params"
                             data-show-index="true"
                             data-onload=""
                             data-url="findTtaTermsFrameHeaderPagination"
                             data-export-enable-transform="['enableFlag']"
                             data-legend="[
                                 {'value':'frameCode','name':'框架编码'},
                                 {'value':'deptName','name':'部门名称'},
                                 {'value':'deptCode','name':'部门编码'},
                                 {'value':'billStatusName','name':'单据状态'},
                                 {'value':'passDate','name':'审批通过时间'},
                                 {'value':'effectiveDate','name':'版本生效时间'},
                                 {'value':'expirationDate','name':'版本失效时间'},
                                 {'value':'createdByName','name':'创建人'},
                                 {'value':'creationDate','name':'创建日期'},
                             ]"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div lov-list="selectDept" role="dialog" data-title="选择部门信息" id="selectDeptId" ng-model="current.em"
         data-url="findDeptPagination"
         data-dynamic-params='{"flag": "findDept","departmentType":"20"}'
         data-callback="selectDeptReturn"
         data-auto-request="true"
         data-return-type="key"
         data-pagination="{'pageIndex':'1','pageRows':'5'}"
         data-checked-type="radio"
         data-keys="{'key':'departmentCode','value':'departmentCode','name':'部门编码'}"
         data-show-index="false"
         data-type="competitor"
         data-other-column="[{'name':'部门名称','key':'departmentName'}]"
         data-search-key="[{'key':'departmentCode','placeholder':'部门编码'},
                          {'key':'departmentName','placeholder':'部门名称'}]"
    >
    </div>
</div>
