<div ng-controller="fixedAssetsAdjustApplyFormCtrl" class="gridtable">
    <div class="data-table" id="processForm" data-api-post="saveOrUpdateAdjustApply" data-api-get="findAssetAdjustDetailById"
     data-api-del="deleteAssetAdjustItem" data-api-update="updateAdjustApply">
        <div class="col-md-12 pt15 oh">
            <h5 class="fontwB"><span class="fa fa-cog mr15"></span>申请信息</h5>
            <div resp-change="" class="col-xs-6 col-md-4 col-lg-3" data-load-callback="respCallback" style="display: none"></div>
            <div class="row">
                <div search-list
                     data-col="4"
                     data-legend="[
                        {key:'deptName',label:'申请部门',readonly:true,required:true},
                        {key:'personName',label:'申请人',readonly:true,required:true},
                        {key:'positionName',label:'职位',readonly:true,type:'lov',target:'#positionByPersonModel',required:true,css:'readonly-white'},
                        {key:'billNo',label:'申请单号',readonly:true},
                        {key:'requestTime',label:'申请时间',type:'time',disabled:true},
                        {key:'statusStr',label:'状态',readonly:true},
                      ]"
                     ng-model="formParams"
                ></div>
            </div>
        </div>

        <div class="col-md-12" >
            <h5 class="fontwB">
                <span class="fa fa-cog mr15"></span>调剂信息
                <button type="button" class="btn btn-default btn-xs pull-right"
                        ng-show="childData.isEdit"
                        ng-click="tableEndit.addTableRows({oldHrOrganizationId:-1})"><i class="fa fa-plus">增加</i></button>
            </h5>
        </div>

        <div class="col-md-12">
            <div base-data-table-edit="tableEndit"
                 data-legend="[
                    {value:'assetCode',name:'资产编号',required:true,type:'lov','disabled':true,target:'#assetMaterialModel',callback:'setRowIndex'},
                    {value:'assetName',name:'资产名称','readonly':true},
                    {value:'assetModel',name:'规格/型号','readonly':true},
                    {value:'checkTime',name:'采购时间','readonly':true},
                    {value:'changeTime',name:'资产转移时间','readonly':true},
                    {value:'oldHrOrganizationName',name:'调剂前使用部门','readonly':true},
                    {value:'oldUserName',name:'调剂前保管人','readonly':true},
                ]"
                 data-form-params-key="items"
                 ng-model="formParams"></div>
        </div>
        <div class="col-md-12 hook-normal">
            <div saaf-file="" data-label="<h5 class='fontwB'><span class='fa fa-cog mr15'></span>附件列表</h5>"
                 data-file-data="fileData.file"
                 data-file-filter='{{fileType}}'
                 data-view-only="fileViewOnly"
            ></div>
        </div>
    </div>
    <div lov-list="assetMaterial" role="dialog" data-title="固定资产列表" id="assetMaterialModel" ng-model="code1"
             data-url="findAssetMaterialPaginationByOrgId"
             data-params="{'status': '1','queryType':'assetAdjust','orgId':'{{formParams.orgId}}'}"
             data-pagination="{'pageIndex':'1','pageRows':'5'}"
             data-checked-type="radio"
             data-keys="{'key':'assetCode','value':'assetCode',name:'资产编号'}"
             data-show-index="false"
             data-other-column="[
                  {'name':'资产名称','key':'assetName'},
                  {'name':'规格/型号','key':'assetModel'},
                  {'name':'采购时间','key':'checkTime'},
                  {'name':'固定资产转移时间','key':'changeTime'},
                  {'name':'调剂前使用申请部门','key':'deptName'},
                  {'name':'调剂前保管人','key':'assetUserPerson'}
                 ]"
             data-search-key="[{'key':'assetCode','placeholder':'资产编号'},{'key':'assetName','placeholder':'资产名称'}]"
             data-callback="setRowInput"
        >
        </div>
</div>