<!--
    data-api-post : 此表单要提交请求的服务
    data-api-get : 此表单草稿或查看时的内容服务
    默认的表单参数对象为： formParams  与 showProcessCtrl 定义一至
-->


<div class="data-table">
    <h3 class="tc">项目立项流程</h3>
    <div class="form-group col col-xs-12 col-md-6">
        <div class="input-group input-group-xs">
            <label class="input-group-addon bn"><span class="">项目名称：</span></label>
            <input class="form-control radius3"  ng-model="formParams.title"
                   name="formParams_title">
        </div>
    </div>
    <div class="form-group  col-xs-12 col-md-12">
        <div class="input-group input-group-xs">
            <label class="input-group-addon bn"><span class="">说明：</span></label>
                <textarea class="form-control radius3" style="height: 50px;" ng-model="formParams.descri"
                          name="formParams_desc"></textarea>
        </div>
    </div>
    <div class="form-group col-xs-12 col-md-6">
        <div class="input-group input-group-xs">
            <label class="input-group-addon bn">
                <span><i class="red">*</i>开始日期：</span></label>
            <input type="text" name="start" class="formatTime form-control radius3" required=""
                   ng-model="formParams.startTime">
        </div>
    </div>
    <div class="form-group col-xs-12 col-md-6">
        <div class="input-group input-group-xs">
            <label class="input-group-addon bn">
                <span><i class="red">*</i>结束日期：</span></label>
            <input type="text" name="end" class="formatTime form-control radius3" required=""
                   ng-model="formParams.endTime">
        </div>
    </div>
    <input type="hidden" value="desc"  id="var" data-desc="变量">
</div>