<div ng-controller="msgInstanceDetailCtrl" class="gridtable">
    <div class="form bg-white" inner-frame data-des="此节点必需－内框页面的指令">
        <!--------------------- 按钮--->
        <div class="bg-gray-white bt">
        </div>
        <!---------------------  / .按钮  --->
        <div main-scroll-style data-des="此节点必需－用户计算滚动区域高度">

            <!--
                {'value':'msgTransactionDate','name':'消息请求时间'},
                {'value':'sendDate','name':'发送时间'},
                {'value':'sendStatusName','name':'发送状态'},
                {'value':'failureTimes','name':'发送失败次数'},
                {'value':'msgSubject','name':'消息标题'},
                {'value':'msgContent','name':'消息内容'}
-->
            <div class="data-table" id="processForm">
                <div class="col-md-12 pt15 pb30">
                    <label><i class="fa fa-cog"></i>消息实例详情</label>
                    <div search-form
                         data-col="4"
                         data-legend="[
                    {key:'msgInstanceId',label:'消息实例ID',disabled:true},
                    {key:'orgName',label:'事业部',disabled:true},
                    {key:'channelTypeName',label:'渠道类型',disabled:true},
                    {key:'msgTypeName',label:'消息类型',disabled:true},
                    {key:'msgTemplateName',label:'消息模板',disabled:true},
                    {key:'jobId',label:'任务号',disabled:true},
                    {key:'msgCfgId',label:'消息配置ID',disabled:true},
                    {key:'receiveCode',label:'接收对象',disabled:true},
                    {key:'sourceType',label:'来源',disabled:true},
                    {key:'bizId',label:'业务主键',disabled:true},
                    {key:'synchroName',label:'同步类型',disabled:true},
                    {key:'bizType',label:'业务功能类型',disabled:true},
                    {key:'msgTransactionDate',label:'消息请求时间',disabled:true},
                    {key:'sendDate',label:'发送时间',disabled:true},
                    {key:'sendStatusName',label:'发送状态',disabled:true},
                    {key:'failureTimes',label:'发送失败次数',disabled:true},
                    {key:'requestId',label:'请求ID',disabled:true},
                    {key:'msgSubject',label:'消息标题',disabled:true},
                    {key:'msgUrl',label:'消息链接',disabled:true},
                 ]"
                         ng-model="params"
                    ></div>
                    <div class="form-group col-xs-12 col-md-12">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">消息内容：</span></label>
                            <textarea class="form-control radius3" rows="3" style="height: 50px" readonly
                                      ng-model="params.msgContent"
                            ></textarea>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-12">
                        <div class="input-group input-group-xs">
                            <label class="input-group-addon bn">
                                <span class="w100">返回信息：</span></label>
                            <textarea class="form-control radius3" rows="3" style="height: 50px" readonly
                                      ng-model="params.returnMsg"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>